@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato-black-webfont.woff') format('woff');
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/SourceSansPro-Black.ttf') format('ttf');
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'opensansbold';
    src: url('../fonts/SourceSansPro-Bold.ttf') format('ttf');
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}

