$bg-body: #fff;
$color-1: #2C2C2C;
$color-2: #A5CF4C;
$color-3: #1E4284;
$color-4: #ffffff;
$color-5: #464646;
$color-6: #F5F5F5;
$color-7: #B7B7B7;
$color-8: #5E5E5E;
$color-9: #E65E5E;
$color-10: #3B5998;
$color-11: #2DB742;
$color-12: #FF3636;
$color-13: #F8F8F8;
$color-14: #EEEEEE;
$color-15: #23693E;
$font-color: $color-1;
$font: 'lato';
$icon: 'Font Awesome 5 Free';