//------------------------------------------------------------------RESET CSS--------------------------------------------------------------------//

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: normal;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,
a:hover,
a:focus {
	text-decoration: none;
}
a,
img {
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	transform: rotate(0);
}
a,
img,
button {
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}
a,
button,
select,
label {
	cursor: pointer;
}
.clear {
	clear: both;
	float: none;
}

//------------------------------------------------------MIXINS / MEDIAS / FONTS / VARIABLES------------------------------------------------------//

@import "mixins"; // Import mixins
@import "medias"; // Import @medias
@import "fonts"; // Import custom fonts
@import "variables"; // Import variables

//------------------------------------------------------------------KEYFRAMES--------------------------------------------------------------------//

//Menu Fixed
@keyframes menuFixed {
	from {
		margin-top: -200px;
	}
	to {
		margin-top: 0;
	}
}

@-webkit-keyframes menuFixed {
	from {
		margin-top: -200px;
	}
	to {
		margin-top: 0;
	}
}

//Loading da paginação AJAX
@keyframes rotating {
	from {
		@include prefix(transform, rotate(0deg), webkit moz o ms);
	}
	to {
		@include prefix(transform, rotate(360deg), webkit moz o ms);
	}
}

@-webkit-keyframes rotating {
	from {
		@include prefix(transform, rotate(0deg), webkit moz o ms);
	}
	to {
		@include prefix(transform, rotate(360deg), webkit moz o ms);
	}
}

//----------------------------------------------------------------DEFAULT STYLES-----------------------------------------------------------------//

strong,
b {
	font-weight: 700;
}
em {
	font-style: italic;
}
del {
	text-decoration: line-through;
}
img,
iframe,
svg {
	max-width: 100%;
	max-height: 100%;
}
.hidden-text {
	font-size: 0;
	max-height: 0;
}

//-------------------------------------------------------------------GENERAL---------------------------------------------------------------------//

a[href^="tel"] {
	// iOS phone color //
	width: inherit !important;
	color: inherit;
	text-decoration: none;
}

html {
	min-height: 100%;
}

body {
	left: 0;
	font-size: 16px;
	font-family: $font;
	color: $font-color;
	position: relative;
	background: $bg-body;
	@include selectionColor(rgba($color-2, 0.3));
}

//--Wrapper--------------------------------------//

#wrapper {
	overflow: hidden;
}

//--Title----------------------------------------//

.title {
	font-size: 22px;
	color: $color-1;
	font-weight: 700;
	padding: 15px 0;
	position: relative;
	letter-spacing: 0.5px;
	&.color-2 {
		color: $color-2;
	}
	&.black {
		font-weight: 900;
	}
	&.bg-full {
		color: $color-2;
		padding: 35px 0;
		background-color: $color-15;
		&:before {
			position: absolute;
			content: "";
			top: 0;
			bottom: 0;
			left: -100px;
			right: -100%;
			z-index: -1;
			background-color: $color-15;
		}
	}
}

//--Scroll Top Button----------------------------//

.scroll-top {
	position: fixed;
	bottom: 148px;
	right: -100px;
	width: 30px;
	height: 30px;
	z-index: 10;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 25px;
	line-height: 25px;
	text-align: center;
	padding: 0 0 3px 0;
	border-radius: 100px;
	background-color: darken($color-2, 5%);
	@include transition(all, 0.2, ease);
	.hidden-text {
		position: absolute;
	}
	&.active {
		right: 22px;
	}
	&:hover {
		opacity: 0.8;
	}
}

//--Breadcrumb-----------------------------------//

.breadcrumb {
	background: transparent;
	padding: 0;
	margin-bottom: 0;
	color: $font-color;
	padding: 25px 0 30px 0;

	a,
	.active {
		color: $font-color;
	}
	a {
		&:hover {
			text-decoration: underline;
		}
	}
	li {
		padding: 0 !important;
		&:before {
			display: none !important;
		}
		&:after {
			content: ">";
			color: $font-color;
			padding: 0 9px;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}

	span {
		font-weight: 700;
	}
}

@include media-between(xs, sm) {
	// Phones and Large Phones
	.breadcrumb {
		font-size: 13px;
		line-height: 16px;
		padding: 15px 0;
	}
}

//--Button Default-------------------------------//

.btn-default {
	a,
	button {
		max-width: 100%;
		color: $color-2 !important;
		border: 0;
		font-weight: 700;
		border-radius: 0;
		padding: 13px 25px;
		display: inline-block;
		text-align: center;
		text-transform: uppercase;
		background-color: #2c2c2c;
		i {
			margin-right: 2px;
		}
		&:hover {
			background-color: black;
			text-decoration: none !important;
		}
	}
	&.big {
		a,
		button {
			font-size: 18px;
			color: $color-2;
			background: $color-1;
			// border: 2px solid $color-1;
			&:hover {
				color: #fff;
				background-color: $color-2;
			}
		}
	}
	&.btn-border {
		a,
		button {
			font-size: 18px;
			color: $color-2;
			background: $color-1;
			&:hover {
				color: #fff;
				background-color: $color-2;
			}
		}
	}
}

//--Button Budget--------------------------------//

.btn-budget {
	@extend .btn-default;
	margin: 7px 0 14px 0;

	a,
	button {
		width: 300px;
		max-width: 100%;
		padding: 11px 10px;
		background-color: $color-1;
		font-weight: normal;
		text-transform: none;
		color: $color-2;

		&:hover {
			background-color: darken($color-1, 10%);
			color: #fff !important;
		}

		i {
			margin-right: 7px;
		}
		&:hover {
			background-color: darken($color-1, 10%);
			color: #fff !important;
		}
	}
}

@include media-only(xs) {
	// Phones
	.btn-budget {
		a,
		button {
			width: 100%;
			font-size: 11px;
			color: $color-2;
		}
	}
}

//--Button Social--------------------------------//

.btn-social {
	button,
	a {
		width: 300px;
		max-width: 100%;
		overflow: hidden;
		text-align: center;
		@include display-flex();
		@include align-items(center);
		box-shadow: 0 3px 6px rgba(#000, 0.1);

		i {
			color: #fff;
			font-size: 32px;
			display: block;
			text-decoration: none;
			height: 52px;
			min-width: 66px;
			width: 66px;
			position: relative;
			@include display-flex();
			@include justify-content(center);
			@include align-items(center);
			&:after {
				position: absolute;
				content: "";
				background-color: #000;
				opacity: 0.2;
				width: 2px;
				right: 0;
				top: 5px;
				bottom: 5px;
			}
		}
		span {
			color: #fff;
			display: block;
			font-size: 16px;
			padding: 20px 5px;
			text-decoration: none;
			width: 100%;
		}
		&:hover {
			filter: brightness(110%);
			text-decoration: none !important;
		}
		&.whats {
			background-color: #2db742;
		}
		&.jivo {
			background-color: #2f324a;
		}
		&.face {
			background-color: #4267b2;
		}
		&.google {
			background-color: #e65e5e;
			i,
			span {
				color: #fff;
			}
		}
	}
}

@include media-only(xs) {
	.btn-social {
		button,
		a {
			margin: auto;
		}
	}
}

//--TAG <img> cover------------------------------//

.img-cover {
	position: absolute;
	display: block;
	min-height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	object-fit: cover;
	@include prefix(transform, translate(-50%, -50%), webkit moz ms o);
}

//--Billet---------------------------------------//

.billet {
	padding: 4px 0 7px 0;
	@include display-flex();
	@include align-items(center);
	img {
		margin-right: 5px;
	}
}

//--Custom Select--------------------------------//

.select-custom-box {
	border: 1px solid $color-1;
	max-width: 100%;
	// overflow: hidden;
	position: relative;
	line-height: 27px;
	display: inline-block;
	vertical-align: middle;
	height: 37px;
	width: 170px;
	text-align: right;
	&:after {
		content: "\f107";
		width: 22px;
		font: {
			family: $icon;
			weight: 900;
			size: 18px;
		}
		color: $color-1;
		position: absolute;
		top: 0;
		left: 10px;
		bottom: 0;
		@include display-flex();
		@include align-items(center);
	}
	select {
		opacity: 0;
		filter: alpha(opacity=0);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		z-index: 1;
		&:disabled {
			&:hover {
				cursor: not-allowed;
			}
		}
	}
	.select-label {
		color: $color-1;
		display: block;
		text-align: right;
		white-space: nowrap;
		overflow: hidden;
		padding: 4px 10px 4px 25px;
	}
}

//--Custom Radio Button-------------------------------//

.radio-custom-box {
	.item {
		label {
			display: inline-block;
			margin: 7px 0;
			line-height: 19px;
			color: rgba($font-color, 0.7);
		}
		.check-radio {
			@include transition(all, 0.2, ease);
			&:not(:checked),
			&:checked {
				position: absolute;
				left: -9999px;
				& + label {
					position: relative;
					cursor: pointer;
					padding-left: 33px;
					@include transition(all, 0.2, ease);
					&:before,
					&:after {
						content: "";
						width: 22px;
						height: 22px;
						position: absolute;
						border-radius: 100%;
						border-width: 2px;
						border-style: solid;
						@include transition(all, 0.2, ease);
					}
					&:before {
						left: 0;
						top: -1px;
						border-color: $color-7;
						background: #cecece;
					}
					&:after {
						left: -2px;
						top: -3px;
						border-color: #fff;
						background: transparent;
					}
				}
			}
			&:checked {
				& + label {
					color: $color-2;
					&:before {
						background: $color-2;
						border-color: darken($color-2, 20%);
					}
				}
			}
			&:hover {
				& + label {
					color: $color-2;
				}
			}
		}
	}
}

//--Fix bug Slick Slider-------------------------//

.slider-d-none {
	@include prefix(animation, slickFade 0.5s, webkit ms moz o);
	a:not(:first-child) {
		display: none;
	}
	&.slick-initialized .slick-slide {
		display: block;
	}
}

@include media-only(xl) {
	// Large Desktops
	.slick-slider {
		.slick-track,
		.slick-list {
			transition-delay: 10ms;
			@include prefix(transform, translate3d(0, 0, 0), webkit moz o ms);
		}
	}
}

//--Slick Slider - Arrows / Dots-----------------//

.slick-arrow {
	&.slick-prev,
	&.slick-next {
		top: 50%;
		width: 50px;
		height: 100%;
		z-index: 100;
		&:before {
			opacity: 1;
			font: {
				family: $icon;
				size: 41px;
				weight: 900;
			}
			color: $color-7;
			@include transition(all, 0.2, ease);
		}
		&:hover {
			&:before {
				color: $color-2;
			}
		}
	}
	&.slick-prev {
		left: -40px;
		&:before {
			content: "\f104";
		}
	}
	&.slick-next {
		right: -40px;
		&:before {
			content: "\f105";
		}
	}
	&.slick-disabled {
		opacity: 0.2;
		&:before {
			opacity: 1;
		}
		&:hover {
			&:before {
				color: $color-7;
			}
		}
	}
}

@include media-only(xs) {
	// Phones
	.slick-arrow {
		&.slick-prev,
		&.slick-next {
			width: 30px;
		}
		&.slick-prev {
			left: -23px;
		}
		&.slick-next {
			right: -23px;
		}
	}
}

//--Fancybox border Thumb------------------------//

//.fancybox-thumbs{ background-color: #444; }

.fancybox-thumbs__list a {
	background-color: #fff;
	&:before {
		border-color: $color-2;
	}
}

.fancybox-image {
	background-color: #fff;
}

//----------------------------------------------------------------FORM VALIDATION----------------------------------------------------------------//

.alert {
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	position: relative;
	border: none;
	border-radius: 0;
	padding: 12px 30px;
	.close {
		height: 100%;
		padding: 0 10px;
		outline: none;
	}
}

//---------------------------------------------------------------DEFAULT MESSAGES----------------------------------------------------------------//

.msg-default {
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0 10px 0;
	font-size: 16px;
	.result {
		margin-bottom: 10px;
		p {
			font-size: 33px;
			line-height: 44px;
			margin: 2px 0 20px;
			font-weight: 900;
		}
	}
	.error {
		padding-top: 50px;
		margin-bottom: 100px;
		.tips {
			margin-bottom: 50px;
			p {
				padding: 50px 0 10px 0;
			}
			ul {
				li {
					font-weight: 400;
					text-transform: none;
					margin-bottom: 5px;
				}
			}
		}
	}
}

@include media-down(md) {
	// Down Desktops
	.msg-default {
		.error {
			padding-top: 40px;
			.tips {
				p {
					padding: 40px 0 10px 0;
				}
			}
		}
	}
}

@include media-between(xs, sm) {
	// Phones and Large Phones
	.msg-default {
		font-size: 14px;
		.result {
			p {
				font-size: 28px;
				line-height: 30px;
			}
		}
	}
}

//--------------------------------------------------------------------HEADER---------------------------------------------------------------------//

header {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	.top-bar {
		color: $font-color;
		padding: 9px 0;
		background-color: $color-2;
		a {
			color: rgb(0, 0, 0);
			font-size: 18px;
			i {
				margin-right: 10px;
			}
			&:hover {
				text-decoration: underline;
			}
		}
		.buttons {
			a {
				&:not(:last-child) {
					margin-right: 10px;
				}
				i {
					margin-right: 5px;
				}
			}
		}
	}
	.navbar {
		background-color: #2c2c2c;
		padding: 27px 0;
		border: none;
		min-height: auto;
		width: 100%;
		> .container {
			padding: 0 15px;
		}
		.logo {
			a {
				display: inline-block;
				transition: none;
				img {
					width: 129px;
					min-width: 129px;
					height: auto;
					display: block;
					transition: none;
					margin-bottom: -4px;
				}
			}
		}
		.search-box {
			width: 100%;
			padding: 0 15px 0 50px;
			form {
				@include display-flex();
				@include placeholder(rgba($font-color, 0.5));
			}
			input,
			button {
				height: 45px;
			}
			input {
				background-color: #fff;
				border: 1px solid $color-7;
				border-right: none;
				border-radius: 100px 0 0 100px;
				color: rgba($font-color, 0.5);
				font-size: 18px;
				letter-spacing: 0.7px;
				max-width: 100%;
				text-align: left;
				padding: 0 15px 0 30px;
				width: 100%;
			}
			button {
				border: 0;
				border: 1px solid $color-7;
				border-left: none;
				color: rgba($font-color, 0.4);
				background: #fff;
				font-size: 22px;
				padding: 0 15px;
				border-radius: 0 100px 100px 0;
				transition: color 0.2s ease, background-color 0.2s ease;
				&:hover {
					color: $color-2;
					//background-color: $color-5;
				}
			}
		}
		.user-buttons {
			min-width: 150px;
			@include display-flex();
			@include justify-content(flex-end);
			li {
				display: inline-block;
				padding: 0 15px;
				max-width: 110px;
				position: relative;
				&:last-child {
					padding-right: 0;
				}
				a {
					color: $color-13;
					font-size: 14px;
					line-height: 13px;
					text-align: center;
					display: inline-block;
					transition: color 0.2s ease, background-color 0.2s ease;
					i {
						color: $color-13;
						font-size: 30px;
						display: block;
						margin-bottom: 3px;
						transition: color 0.2s ease, font-size 0s ease;
					}
					p {
						min-height: 31px;
						@include display-flex();
						@include align-items(center);
					}
					&:hover {
						color: lighten($color-1, 10%);
						i {
							color: lighten($color-1, 10%);
						}
					}
				}
			}
		}
		.icon-menu-mobile {
			display: none;
			position: absolute;
			right: 60px;
			#menu-toggle {
				padding: 5px;
				cursor: pointer;
				font-size: 21px;
				color: $color-2;
				@include transition(all, 0.2, ease);
			}
		}
		.icon-cart-mobile {
			display: none;
			position: absolute;
			right: 23px;
			a {
				color: $color-2;
				font-size: 21px;
			}
			.cart-count {
				top: -5px;
				right: -10px;
			}
		}
	}
	> .nav {
		position: relative;
		background-color: $color-4;
		.container {
			position: relative;
		}
		.navbar-nav {
			@include flex-direction(row);
			@include align-items(center);
			@include justify-content(space-between);
			li {
				padding: 14px 0;
				margin: 0 18px;
				text-align: center;
				display: inline-block;
				&:last-child {
					margin-right: 0;
				}
				&:first-child {
					margin-left: 0;
				}
				a {
					font-size: 18px;
					line-height: 20px;
					color: $font-color;
					i {
						font-size: 19px;
						margin-left: 7px;
						bottom: -1px;
						position: relative;
					}
					&:after {
						display: none;
					}
					&:hover,
					&.active {
						color: $color-8;
					}
				}
				.dropdown-menu {
					max-height: 70vh;
					overflow: auto;
					position: absolute;
					z-index: 1200;
					top: 100%;
					margin: 0;
					min-width: 100%;
					padding: 0;
					border: none;
					border-radius: 0;
					background-color: $color-4;
					@include prefix(
						box-shadow,
						8px 8px 15px rgba(0, 0, 0, 0.15),
						webkit moz o ms
					);
					a {
						width: 100%;
						display: block;
						padding: 9px 15px;
						color: $font-color;
						white-space: nowrap;
						position: relative;
						&:hover {
							color: #fff;
							background-color: $color-2;
						}
					}
				}
				&.custom-dropdown {
					> a {
						i {
							margin: 0 3px 0 0;
						}
					}
				}
				&.dropdown {
					> a {
						transition: none;
					}
					&.show,
					&:hover {
						> a {
							color: $color-8;
						}
					}
					&:last-child {
						.dropdown-menu {
							left: auto;
							right: 0;
							text-align: right;
						}
					}
				}
				&:hover {
					.dropdown-menu {
						display: block;
					}
				}
			}
		}
	}
	.menu-full {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: -9999;
		font-size: 18px;
		opacity: 0;
		visibility: hidden;
		@include transition(all, 0.4, ease);
		.menu-content {
			position: relative;
			z-index: 2;
			padding-left: 8px;
			background-color: #f0f0f0;
			@include display-flex();
			.nav,
			.tab-content {
				padding: 40px 30px;
			}
			.nav {
				width: 290px;
				display: block;
				margin: 0;
				padding-left: 22px;
				position: relative;
				background-color: #fff;
				li {
					display: block;
					.tit {
						color: $color-7;
						display: block;
						padding: 0 15px;
						margin-bottom: 18px;
					}
					a {
						border-radius: 0;
						border: none;
						color: $font-color;
						display: block;
						padding: 8px 10px 8px 33px;
						background-color: transparent;
						position: relative;
						&:before {
							content: "\f105";
							font-family: $icon;
							font-weight: 900;
							position: absolute;
							top: 9px;
							left: 16px;
							z-index: 2;
						}
						&:after {
							content: "";
							position: absolute;
							right: -70px;
							top: 50%;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 20px 20px 20px 0;
							border-color: transparent #f0f0f0 transparent transparent;
							@include prefix(transform, translateY(-50%), webkit moz o ms);
							@include transition(all, 0.4, ease);
						}
						&:hover {
							color: $color-2;
						}
						&.active {
							color: #fff;
							background-color: $color-2;
							&:after {
								right: -30px;
							}
						}
					}
				}
			}
			.tab-content {
				position: relative;
				z-index: 3;
				strong {
					font-weight: 800;
				}
				.tab-pane {
					height: 100%;
				}
				ul {
					height: 100%;
					column-count: 3;
					column-gap: 70px;
					column-fill: auto;
					column-rule: 1px solid $font-color;
					li {
						max-width: 165px;
						margin-bottom: 18px;
						&:last-child {
							margin-bottom: 0;
						}
						a {
							line-height: 18px;
							color: $font-color;
							&:hover {
								color: $color-2;
								text-decoration: underline;
							}
							&.see-more {
								font-size: 15px;
								color: #fff;
								padding: 4px 15px;
								font-weight: 700;
								display: inline-block;
								background-color: $color-2;
								&:hover {
									text-decoration: none;
									background-color: darken($color-2, 10%);
								}
							}
						}
					}
				}
			}
		}
		&.show {
			opacity: 1;
			visibility: visible;
		}
	}
	.cart-count {
		min-width: 16px;
		height: 16px;
		position: absolute;
		top: -5px;
		right: 2px;
		z-index: 2;
		padding: 3px;
		border-radius: 50%;
		font-size: 11px;
		line-height: 11px;
		color: #fff;
		font-weight: 700;
		background-color: $color-12;
		@include display-flex();
		@include align-items(center);
		@include justify-content(center);
	}
	&.nav-small {
		// Menu Small Fixed //
		position: fixed;
		@include transition(all, 0.5, ease);
		@include prefix(animation, menuFixed 0.5s, webkit ms moz o);
		@include prefix(
			box-shadow,
			0px -2px 22px -5px rgba(0, 0, 0, 0.75),
			webkit moz o ms
		);
		.nav {
			display: none;
		}
		.navbar {
			width: auto;
			padding: 15px 0;
			.logo {
				a {
					img {
						width: 108px;
						min-width: 108px;
					}
				}
			}
			.search-box {
				padding-right: 35px;
				input,
				button {
					height: 40px;
				}
				input {
					font-size: 16px;
				}
			}
			.user-buttons {
				min-width: auto;
				padding-right: 5px;
				li {
					a {
						i {
							font-size: 27px;
							margin-bottom: 0;
						}
						p {
							display: none;
						}
					}
					.cart-count {
						right: -9px;
						padding: 2px 2px 3px 3px;
					}
				}
			}
		}
	}
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: -1;
	visibility: hidden;
	@include transition(all, 0.6, ease);
	&.active {
		visibility: visible;
		opacity: 0.7;
		z-index: 9002;
		@include transition(opacity, 0.5, ease);
	}
}

.close-menu-mobile {
	position: fixed;
	right: 0;
	z-index: 9002;
	top: 5px;
	width: 35px;
	height: 35px;
	opacity: 0;
	color: #fff;
	font-size: 20px;
	visibility: hidden;
	border-radius: 50%;
	@include display-flex();
	@include align-items(center);
	@include justify-content(center);
	background: rgba(#fff, 0.2);
	@include transition(all, 0.5, ease);
	&.show {
		opacity: 1;
		right: 255px;
		visibility: visible;
	}
}

#sidebar-menu {
	padding-left: 0;
	z-index: 9003;
	position: fixed;
	right: 250px;
	width: 0;
	top: 0;
	height: 100%;
	margin-right: -250px;
	overflow-y: auto;
	overflow-x: hidden;
	background: $color-2;
	@include transition(all, 0.5, ease);
	.sidebar-nav {
		position: absolute;
		top: 0;
		width: 250px;
		min-height: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		padding-bottom: 94px;
		li {
			a {
				display: block;
				color: #fff;
				font-size: 17px;

				padding: 12px 20px;
				position: relative;
				text-decoration: none;
				.caret {
					position: absolute;
					top: 34%;
					right: 20px;
					@include transition(all, 0.2, ease);
				}
				&.btn-collapse {
					&:not(.collapsed) {
						background-color: darken($color-2, 5%);
					}
				}
				&.collapsed {
					.caret {
						@include prefix(transform, rotate(180deg), webkit moz ms o);
					}
				}
				&:hover {
					text-decoration: none;
					color: #fff;
					background-color: darken($color-2, 8%);
				}
				&:focus,
				&:active {
					text-decoration: none;
				}
			}
			.sub-menu {
				padding-bottom: 10px;
				background-color: darken($color-2, 5%);
				a {
					font-size: 15px;
					padding: 8px 30px;
					&:hover {
						background-color: darken($color-2, 8%);
					}
				}
			}
			&.user-buttons {
				overflow: hidden;
				border-bottom: 1px solid darken($color-2, 5%);
				a {
					width: 100%;
					padding: 10px 20px;
					font-weight: inherit;
					&:first-child {
						background-color: darken($color-2, 5%);
					}
					i {
						margin-right: 7px;
						font-weight: 900;
					}
				}
			}
			&.sac {
				position: absolute;
				left: 0;
				bottom: 51px;
				right: 0;
				border-top: 1px solid darken($color-2, 5%);
				a {
					font-weight: normal;
					i {
						margin-right: 7px;
					}
				}
			}
			&.social {
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				@include display-flex();
				a {
					width: 100%;
					font-size: 24px;
					color: #fff;
					text-align: center;
					font-weight: normal;
					background-color: darken($color-2, 5%);
				}
			}
		}
	}
	&.toggled {
		padding-right: 250px;
		#sidebar-menu {
			width: 250px;
		}
		.sobreposicao {
			visibility: visible;
		}
	}
}

@include media-down(md) {
	// Phones, Large Phones and Tablets
	header {
		z-index: 999;
		.top-bar {
			display: none;
		}
		.navbar {
			padding: 15px 0;
			.icon-menu-mobile,
			.icon-cart-mobile {
				display: inline-block;
			}
			.logo {
				width: 100%;
				text-align: center;
				a {
					img {
						width: 90px;
						min-width: auto;
					}
				}
			}
			.search-box,
			.user-buttons {
				display: none;
			}
		}
		.nav {
			display: none;
		}
		&.nav-small {
			// Menu Small Fixed //
			.navbar {
				.logo {
					a {
						img {
							width: 90px;
							min-width: auto;
						}
					}
				}
			}
		}
	}
}

// ----------------------------------------------------- CART CAOUNT -------------------------------------------------------------------//
.cart-count {
	min-width: 16px;
	height: 16px;
	position: absolute;
	top: -5px;
	right: 2px;
	z-index: 2;
	padding: 3px;
	border-radius: 50%;
	font-size: 11px;
	line-height: 11px;
	color: #fff;
	font-weight: 700;
	background-color: $color-12;
	@include display-flex();
	@include align-items(center);
	@include justify-content(center);
}

#mobile-bar {
	background-color: white;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9000;
	box-shadow: 0 3px 6px rgba(#000, 0.16) inset;
	display: none;
	pointer-events: none;
	@include transition(all, 0.2, ease);
	transition-delay: 0.25s;
	// border-top: 2px solid transparent;
	ul {
		display: flex;
		justify-content: space-between;
		padding: 10px 0;
		li {
			display: block;
			height: 100%;
			line-height: 1;
			position: relative;
			a,
			button {
				padding: 0;
				border: 0;
				background-color: transparent;
				line-height: 1;
				display: block;
				text-align: center;

				i {
					font-size: 21px;
					color: $color-2;
				}
				p {
					margin-top: 5px;
					font-size: 8px;
					letter-spacing: 0.05em;
					color: $color-2;
					text-align: center;
				}
			}
		}
	}
	&.active {
		display: block;
		pointer-events: all;
	}
}

//-----------------------------------------------------------------SEARCH MOBILE-----------------------------------------------------------------//

.search-mobile {
	display: inline-block;
	width: 100%;
	form {
		width: 100%;
		@include display-flex();
		height: 60px;
		input,
		button {
			height: 100%;
			border: none;
			border-radius: 0;
			font-size: 16px;
			background-color: $color-1;
			color: white;
		}
		input {
			width: 100%;
			padding: 5px 5px 5px 15px;
		}
		button {
			width: 60px;
			min-width: 60px;
			color: white;
			text-align: center;
			i {
				font-size: 22px;
			}
			&:active {
				background-color: darken(#efefef, 10%);
			}
		}
		@include placeholder(white);
	}

	&.active {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9002;
		@include transition(all, 0.5, ease);
		@include prefix(animation, menuFixed 0.5s, webkit ms moz o);
		@include prefix(
			box-shadow,
			0px -2px 22px -5px rgba(0, 0, 0, 0.75),
			webkit moz o ms
		);

		form {
			height: 40px;
			input {
				font-size: 13px;
			}
			button {
				i {
					font-size: 13px;
				}
			}
		}
	}
}

//--------------------------------------------------------------------FOOTER---------------------------------------------------------------------//

footer {
	color: $color-11;
	overflow: hidden;
	line-height: 27px;
	background-color: $color-6;
	.menu-footer {
		padding: 50px 0 20px 0;
		.row {
			margin: 0 -29px;
		}
		.item {
			padding: 0 25px;
			margin-bottom: 40px;
			border-right: 2px solid $color-2;
			&:last-child {
				border-right: none;
			}
			.tit {
				font-size: 17px;
				line-height: 24px;
				letter-spacing: 0.5px;
				margin-bottom: 7px;
				color: $color-1;
				font-family: $font;
				font-weight: 700;
			}
			ul {
				li {
					margin-bottom: 4px;
				}
				&.two-columns {
					column-count: 2;
					column-gap: 10px;
				}
				&.payment-methods {
					li {
						display: inline-block;
						margin-right: 5px;
						margin-top: 2px;
						img {
							display: block;
						}
					}
				}
			}
			a {
				color: $color-15;
				font-weight: normal;
				&:hover {
					text-decoration: underline;
				}
			}
			.social {
				li {
					padding-right: 10px;
					display: inline-block;
					&:last-child {
						padding-right: 0;
					}
					a {
						text-decoration: none;
						font-size: 28px;
						margin-bottom: 10px;
						display: inline-block;
						&:hover {
							opacity: 0.6;
						}
					}
				}
			}
		}
	}
	.address {
		background-color: $color-1;
		padding: 35px 0 35px;
		.logo {
			height: 100%;
			width: 100%;
			@include display-flex();
			@include align-items(center);
		}
		#footeraddress {
			padding-left: 50px;
		}
		a,
		p {
			color: #fff;
		}
		a {
			i {
				margin-right: 5px;
			}
			&:not(:first-child) {
				margin-left: 15px;
				position: relative;
				&:before {
					position: relative;
					content: "-";
					left: -8px;
				}
			}
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
		.k13 {
			@include display-flex();
			@include align-items(center);
			a {
				display: block;
				height: 12px;
				margin-right: 5px;
				img {
					display: block;
				}
			}
		}
	}
}

@include media-only(lg) {
	footer {
		.menu-footer {
			.item {
				padding: 0 10px;
			}
		}
	}
}

@include media-down(md) {
	// Large Phones and Tablets
	footer {
		.menu-footer {
			padding: 50px 0 20px 0;
			.row {
				margin: 0 -25px;
			}
			.item {
				padding: 0 25px;
				border-right: 2px solid $color-2;
				&:nth-child(even) {
					border-right: none;
				}
			}
		}
	}
}

@include media-only(sm) {
	footer {
		.menu-footer {
			.item {
				border: none;
				&:last-child {
					border-left: 2px solid $color-2;
				}
			}
		}
	}
}

@include media-only(xs) {
	// Phones
	footer {
		.menu-footer {
			padding: 40px 0 0 0;
			.row {
				margin: 0;
				padding: 0 10px;
			}
			.item {
				margin-bottom: 25px;
				padding: 0 0 25px 0;
				border-right: none;
				border-bottom: 2px solid $color-2;
				ul {
					&.two-columns {
						column-count: 1;
					}
				}
				&:last-child {
					border-bottom: none;
				}
			}
		}
		.address {
			.logo {
				margin-bottom: 30px;
				@include justify-content(center);
			}
		}
	}
}

//---------------------------------------------------------------------404-----------------------------------------------------------------------//

.page-404 {
	width: 100%;
	color: $font-color;
	min-height: inherit;
	padding: 60px 0;
	text-align: center;
	text-transform: uppercase;
	background-color: #fff;
	@include display-flex();
	@include align-items(center);
	span {
		font-size: 70px;
		line-height: 75px;
	}
	p {
		font-size: 21px;
		width: 100%;
		padding-bottom: 60px;
	}
	a {
		font-size: 13px;
		display: inline-block;
		letter-spacing: 0.4px;
		color: $font-color;
		i {
			padding-left: 5px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

//------------------------------------------------------------------PAGINATION-------------------------------------------------------------------//

.pagination-numeric {
	width: 100%;
	display: block;
	border-radius: 0;
	text-align: center;
	padding: 5px 0;
	margin: 20px 0 40px 0;
	@include display-flex();
	@include justify-content(center);
	@include flex-flow(wrap);
	.page-numbers {
		min-width: 30px;
		height: 30px;
		font-size: 18px;
		color: $color-8;
		padding: 4px;
		margin: 0 1px;
		border-radius: 50%;
		text-decoration: none;
		@include display-flex();
		@include align-items(center);
		@include justify-content(center);
		&:hover {
			color: $color-2;
			text-decoration: underline;
		}
		&.current {
			color: #fff;
			position: relative;
			text-decoration: none;
			background-color: $color-2;
		}
		&.dots {
			&:hover {
				color: $color-8;
				text-decoration: none;
			}
		}
		&.prev,
		&.next {
			&:hover {
				color: $color-2;
				text-decoration: none;
			}
		}
	}
}

.pagination {
	display: block;
	text-align: center;
	margin-bottom: 30px;
	.see-more {
		width: 277px;
		height: 56px;
		max-width: 100%;
		text-align: center;
		outline: none;
		letter-spacing: 0.5px;
		color: $color-15;
		overflow: hidden;
		text-decoration: none;
		display: inline-block;
		font-weight: 700;
		vertical-align: middle;
		background: none;
		padding: 8px 5px 6px 5px;
		border: 2px solid $color-1;
		text-transform: uppercase;
		@include transition(all, 0.1, ease-in);
		&:hover {
			color: #fff;
			background-color: $color-2;
		}
		i {
			display: none;
			color: $color-2;
			font-size: 24px;
			padding: 0 10px;
			@include prefix(animation, rotating 2s linear infinite, webkit moz ms o);
		}
		&.active {
			border-color: #fff;
			background: transparent;
			cursor: default;
			&:hover {
				background: transparent;
			}
			span {
				display: none;
			}
			i {
				display: block;
			}
		}
	}
}

//-----------------------------------------------------------------------STAR RATING-----------------------------------------------------------------------//

.rating {
	display: block;
	width: 100%;
	clear: both;
	margin-bottom: 10px;
	.star-ratings {
		unicode-bidi: bidi-override;
		display: inline-block;
		vertical-align: middle;
		color: #d9d9d9;
		font-size: 14px;
		position: relative;
		padding: 0;
		i {
			display: table-cell;
			padding: 0 2px;
		}
		&-top {
			color: #ffd665;
			padding: 0;
			position: absolute;
			z-index: 1;
			display: block;
			top: 0;
			left: 0;
			overflow: hidden;
		}
		&-bottom {
			padding: 0;
			display: block;
			z-index: 0;
		}
	}
	.star-count {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		margin-top: 0;
		letter-spacing: 0.5px;
		opacity: 0.5;
	}
}

//--------------------------------------------------------------DEFAULT PAGE LAYOUT--------------------------------------------------------------//

#page {
	.content {
		padding-bottom: 157px;
		padding-left: 50px;
		#quemsomos {
			background-color: #25b159;
		}
	}
	.page {
		margin-top: 40px;
		color: rgba($font-color, 0.7);
	}
}

//--------------------------------------------------------------DEFAULT PAGE CONTENT-------------------------------------------------------------//

.page {
	line-height: 26px;
	max-width: 770px;
	color: $font-color;
	overflow: hidden;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
		max-width: 550px;
		color: $font-color;
		margin-bottom: 10px;
	}
	h1 {
		font-size: 25px;
		line-height: 30px;
	}
	h2 {
		font-size: 22px;
		line-height: 27px;
	}
	h3 {
		font-size: 20px;
		line-height: 25px;
	}
	h4 {
		font-size: 18px;
		line-height: 23px;
	}
	h5 {
		font-size: 16px;
		line-height: 20px;
	}
	h6 {
		font-size: 14px;
		line-height: 18px;
	}
	a {
		color: #419dc7;
		&:hover {
			color: #419dc7;
			text-decoration: underline;
		}
	}
	img {
		max-width: 100%;
		height: auto;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	blockquote {
		margin: 10px 50px 20px 50px;
		padding-left: 15px;
		border-left: 4px solid $color-1;
		> h1,
		> h2,
		> h3,
		> h4,
		> h5,
		> h6,
		> p {
			&:before {
				content: "\201C";
				margin-left: -7px;
			}
			&:after {
				content: "\201D";
			}
		}
	}
	.gallery-content {
		width: 100%;
		padding-top: 50px;
		float: left;
		.item {
			margin-bottom: 30px;
			height: 200px;
			a {
				width: 100%;
				height: 100%;
				display: block;
				overflow: hidden;
				position: relative;
				background-color: #f5f6f7;
				img {
					margin: 0;
				}
				&:after,
				&:before {
					position: absolute;
					left: 10px;
					right: 10px;
					top: 10px;
					bottom: 10px;
					content: "";
					-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
					transition: opacity 0.5s, transform 0.5s;
					z-index: 10;
					opacity: 0;
				}
				&:before {
					border-top: 1px solid #fff;
					border-bottom: 1px solid #fff;
					@include prefix(transform, scale(0, 1), webkit moz ms o);
				}
				&:after {
					border-right: 1px solid #fff;
					border-left: 1px solid #fff;
					@include prefix(transform, scale(1, 0), webkit moz ms o);
				}
				&:hover {
					&:before,
					&:after {
						opacity: 1;
						@include prefix(transform, scale(1), webkit moz ms o);
					}
				}
			}
		}
	}
	.btn-default {
		text-align: center;
		color: $color-1;
		a,
		button {
			color: #fff;
		}
	}
}

@include media-between(xs, sm) {
	// Phones and Large Phones
	.page {
		blockquote {
			margin-left: 0;
			margin-right: 0;
		}
		.gallery-content {
			padding-top: 40px;
			.item {
				height: 140px;
				padding: 5px;
				margin-bottom: 0;
			}
		}
	}
}

//-------------------------------------------------------------------SIDEBAR---------------------------------------------------------------------//

#sidebar {
	background-color: $color-5;
	color: rgba(#fff, 0.7);
	height: 100%;
	position: relative;
	z-index: 3;
	* {
		position: relative;
	}
	&:before {
		position: absolute;
		content: "";
		background-color: $color-5;
		top: 0;
		bottom: 0;
		right: 100%;
		left: -200%;
	}
	&:after {
		position: absolute;
		content: "";
		top: 34px;
		right: -14px;
		width: 0;
		height: 0;
		z-index: 2;
		border-style: solid;
		border-width: 14px 0 14px 14px;
		border-color: transparent transparent transparent $color-5;
	}
	ul {
		padding: 40px 35px 35px 0;
		li {
			padding: 5px 0;
			margin-bottom: 5px;
			a {
				color: #fff;
				&:hover,
				&.active {
					text-decoration: underline;
				}
			}
		}
	}
	.subtitle {
		color: #fff;
		font-weight: bold;
		letter-spacing: 0.5px;
	}
}

@include media-between(xs, sm) {
	// Phones and Large Phones
	#sidebar {
		&:before {
			right: -100px;
		}
		&:after {
			top: auto;
			bottom: -14px;
			right: 50%;
			@include prefix(transform, translateX(50%), webkit moz o ms);
			border-width: 14px 14px 0 14px;
			border-color: $color-5 transparent transparent transparent;
		}
		ul {
			padding-right: 0;
		}
	}
}

//-----------------------------------------------------------------FILTER MOBILE-----------------------------------------------------------------//

.filter-order-mobile {
	overflow: hidden;
	margin-bottom: 25px;
	border: 1px solid #ccc;
	@include display-flex();
	@include align-items(center);
	flex-wrap: wrap;
	.filter-mobile,
	.order-mobile {
		background-color: transparent;
		border: none;
		width: 50%;
		padding: 10px;
		outline: none;
		font-size: 16px;
		line-height: 24px;
		position: relative;
		text-align: left;
		&:after {
			font-family: $icon;
			content: "\f107";
			position: absolute;
			right: 10px;
			top: 10px;
			font-weight: 900;
			z-index: -1;
			@include transition(all, 0.2, ease);
		}
	}
	.filter-mobile {
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		&:not(.collapsed) {
			&:after {
				transform: rotate(180deg);
			}
		}
	}
	.order-mobile {
		border-bottom: 1px solid #ccc;
		position: relative;
		select {
			width: 100%;
			padding: 0;
			border: none;
			background-color: transparent;
			outline: none;
			background-image: none;
			@include prefix(appearance, none, webkit moz o ms);
		}
	}
	.show-order {
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: none;
		width: calc(100% - 40px);
		@extend .order-mobile;
	}
	.order {
		margin: 0 5px 0 10px;
		padding: 0;
		@include display-flex();
		&:hover {
			filter: brightness(110%);
		}
	}
}

@include media-only(xs) {
	// Phones
	.filter-order-mobile {
		margin-left: -16px;
		margin-right: -16px;
	}
}

//----------------------------------------------------------------SIDEBAR FILTER-----------------------------------------------------------------//

#sidebar-filter {
	height: 100%;
	position: relative;
	.subtitle {
		color: $color-8;
		font-family: $font;
		font-size: 22px;
		font-weight: bold;
		letter-spacing: 0.5px;
		margin-bottom: 3;
		text-transform: uppercase;
	}
	.list {
		.title {
			background-color: transparent;
			color: $color-8;
			cursor: pointer;
			font-size: 18px;
			font-weight: normal;
			line-height: 24px;
			padding: 5px 0 5px 25px;
			text-transform: none;
			text-align: left;
			position: relative;
			overflow: hidden;
			@include transition(all, 0.2, ease);
			span {
				display: inline-block;
				max-width: 90%;
				position: relative;
				&:after {
					content: "";
					position: absolute;
					top: 50%;
					left: calc(100% + 10px);
					width: 400px;
					height: 1px;
					background-color: $color-8;
				}
			}
			&:before {
				position: absolute;
				content: "\f107";
				font-family: $icon;
				font-weight: 900;
				left: 0;
				top: 5px;
				@include transition(all, 0.2, ease);
			}
			&.collapsed {
				color: $color-2;
				&:before {
					color: $color-2;
					@include prefix(transform, rotate(-90deg), webkit moz o ms);
				}
			}
			&:hover {
				color: $color-2;
				&:before {
					color: $color-2;
				}
			}
		}
		ul {
			overflow: auto;
			li {
				padding: 5px 15px 5px 25px;
				@include display-flex();
			}
			.simplebar-wrapper {
				height: 200px;
			}
			.simplebar-vertical {
				width: 7px;
				top: 0px;
				right: 5px;
				bottom: 10px;
				border-radius: 100px;
				background-color: #ddd;
			}
			.simplebar-scrollbar {
				&:before {
					left: 0;
					right: 0;
					opacity: 1;
					background-color: $color-2;
				}
			}
		}
		a {
			color: $color-8;
			font-weight: normal;
			&:hover {
				color: $color-2;
				opacity: 1;
			}
			.qtd {
				margin-left: 5px;
			}
		}
		li.active {
			a {
				color: $color-2;
				pointer-events: none;
			}
		}
		.close {
			color: #ff0000;
			font-size: 10px;
			line-height: 0;
			position: relative;
			cursor: pointer;
			top: 2px;
			float: none;
			opacity: 1;
			border-radius: 50%;
			width: 15px;
			min-width: 15px;
			height: 15px;
			font-weight: normal;
			text-align: center;
			display: inline-block;
			margin-left: 6px;
			text-shadow: none;
			padding-left: 1px;
			i {
				line-height: 15px;
			}
			@include transition(all, 0.2, ease);
			&:hover {
				background-color: #ff0000;
				color: #fff;
			}
		}
		.sizes {
			padding-left: 25px;
			li {
				padding: 2px;
				margin: 3px 0;
				position: relative;
				display: inline-block;
				a {
					min-width: 47px;
					padding: 3px;
					display: inline-block;
					font-weight: normal;
					text-align: center;
					border: 1px solid $color-8;
					&:hover {
						color: #fff;
						text-decoration: none;
						background-color: $color-8;
					}
				}
				&.active {
					a {
						color: #fff;
						background-color: $color-2;
						border-color: $color-2;
					}
				}
				.close {
					position: absolute;
					background-color: #fff;
					top: -3px;
					right: -3px;
					&:hover {
						background-color: #ff0000;
					}
				}
			}
		}
		.colors {
			li {
				padding: 5px 0 5px 34px;
				a {
					position: relative;
					padding-left: 15px;
					opacity: 1;
					@include display-flex();
					@include align-items(center);
					p {
						@include transition(all, 0.2, ease);
					}
				}
				.close {
					top: 3px;
					padding: 0;
				}
			}
			i:not(.fas) {
				width: 18px;
				height: 18px;
				border: 1px solid #ccc;
				border-radius: 50%;
				position: absolute;
				top: 0;
				left: -10px;
			}
		}
	}
	.btn-default {
		padding: 20px 0 25px 0;
		text-align: center;
		a {
			background-color: transparent;
			color: $color-8;
			font-weight: normal;
			text-transform: none;
			text-align: center;
			opacity: 0.7;
			position: relative;
			border-radius: 100px;
			padding: 8px 15px 9px 15px;
			margin-top: 10px;
			&:hover {
				color: #fff;
				opacity: 1;
				background-color: $color-2;
			}
		}
	}
}

@include media-down(md) {
	#sidebar-filter {
		&:after {
			display: none;
		}
		.subtitle {
			display: none;
		}
	}
}

//------------------------------------------------------------------FORM LAYOUT------------------------------------------------------------------//

.form-layout {
	overflow: hidden;
	color: $font-color;
	.form-group {
		overflow: hidden;
		margin-bottom: 20px;
		label {
			margin-bottom: 5px;
		}
		input {
			color: $font-color;
			width: 100%;
			height: 38px;
			outline: none;
			border-radius: 0;
			padding: 5px 15px;
			border: 1px solid $color-1;

			&:disabled {
				background-color: $color-7;
			}
		}
		textarea {
			@extend input;
			width: 100%;
			max-width: 100%;
			min-width: 100%;
			height: 110px;
			min-height: 100px;
			max-height: 300px;
			padding: 10px 15px;
		}
		.select-custom-box {
			@extend input;
			padding: 0;
			background-color: #fff;
			.select-label {
				padding: 4px 15px;
			}
		}
		button {
			min-width: 125px;
			border: 0;
			float: right;
			color: #fff;
			font-size: 18px;
			font-weight: 700;
			padding: 21px 15px;
			background-color: $color-2;
			@include transition(all, 0.2, ease);
			&:hover {
				background: darken($color-2, 10%);
				color: #fff;
			}
		}
		.recaptcha {
			float: left;
			background: #f9f9f9;
			overflow: hidden;
			margin-bottom: 20px;
			.g-recaptcha {
				width: 297px;
				margin: -8px 0 -4px -3px;
				overflow: hidden;
			}
		}
	}
	.exempt-btn {
		width: auto;
		position: relative;
		height: auto;
		display: flex;
		align-items: center;
		margin-left: -7px;
		background-color: transparent;
		a,
		button {
			// max-width: 59px;
			background-color: transparent;
			appearance: none;
			border: 0;
			color: $color-1;
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			display: flex;
			align-items: center;

			.icon {
				width: 10px;
				height: 10px;
				border-radius: 2px;
				border: 1px solid $color-1;
				margin-right: 8px;
				pointer-events: all;
				position: relative;

				&::before {
					content: "\f00c";
					font-family: $icon;
					font-weight: 900;
					font-size: 12px;
					position: absolute;
					top: -4px;
					left: 0;
					display: none;
					color: $color-2;
				}

				&.active {
					&::before {
						display: block;
					}
				}
			}
			span {
				font-size: 14px;
				line-height: 17px;
			}
		}
	}
}

@include media-down(md) {
	// Phones, Large Phones and Tablets
	.form-layout {
		.form-group {
			textarea {
				height: 180px;
			}
		}
	}
}

@include media-only(sm) {
	.form-layout {
		.exempt-btn {
			width: 50%;
			margin-left: auto;
			padding-left: 15px;
		}
	}
}

@include media-down(sm) {
	.form-layout {
		.exempt-btn {
			margin-top: -12px;
		}
	}
}

@include media-only(xs) {
	// Phones
	.form-layout {
		.form-group {
			.recaptcha,
			button {
				width: 100% !important;
			}
		}
		.exempt-btn {
			margin-left: 15px;
		}
	}
}

//--------------------------------------------------------------------SIGNUP--------------------------------------------------------------------//

#signup {
	background-color: #000;
	p {
		color: #fff;
	}
	.text {
		.page {
			font-size: 18px;
			line-height: 22px;
			margin: auto;
			text-align: center;
			padding: 45px 0 20px;
		}
	}
	.social-buttons {
		.container {
			max-width: 650px;
			.row {
				margin: 0 -7px;
				> div {
					padding: 0 7px;
				}
			}
		}
	}
	.form {
		.form-layout {
			overflow: visible;
			.card {
				border: none;
				margin: 35px auto;
				max-width: 770px;
				padding: 30px 45px 55px 50px;
				@include prefix(
					box-shadow,
					5px 5px 8px rgba(#000, 0.1),
					webkit moz o ms
				);
				&--title {
					color: $font-color;
					font-size: 22px;
					font-weight: bold;
					margin-bottom: 10px;
					text-transform: uppercase;
				}
			}
			.form-group {
				height: 100%;
				label {
					color: $color-5;
				}
				input {
					border: 2px solid $color-8;
				}
				&.icon {
					position: relative;
					input {
						padding-left: 40px;
					}
					i {
						color: $color-8;
						position: absolute;
						top: 35px;
						left: 15px;
					}
				}
				.select-custom-box {
					.select-label {
						text-align: left;
					}
					&:after {
						color: $color-8;
						left: auto;
						right: 0;
					}
				}
				.radio-custom-box {
					label {
						font-size: 18px;
						a {
							color: $color-5;
							font-weight: bold;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
				.person-type {
					max-width: 350px;
					@include display-flex();
					@include justify-content(space-between);
				}
				.find-cep {
					height: 100%;
					@include display-flex();
					@include align-items(center);
					@include justify-content(flex-start);
					a {
						color: $color-2;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			.form-buttons {
				margin: auto;
				max-width: 770px;
				@include display-flex();
				@include justify-content(center);

				a,
				button {
					margin-left: 15px;
					text-transform: uppercase;
					padding: 22.5px 80px;
					color: $color-1;
					i {
						margin-left: 13px;
					}
				}
			}
		}
	}
}

@include media-only(sm) {
	#signup {
		.form {
			.form-layout {
				.form-buttons {
					button {
						padding: 22.5px 30px;
					}
				}
			}
		}
	}
}

@include media-only(xs) {
	#signup {
		.social-buttons {
			.btn-social {
				margin-bottom: 20px;
			}
		}
		.form {
			.form-layout {
				.card {
					padding: 25px 20px 45px 25px;
					&:first-child {
						margin-top: 10px;
					}
				}
				.form-group {
					overflow: visible;
					.person-type {
						@include flex-direction(column);
					}
					.find-cep {
						margin-top: -18px;
					}
				}
			}
		}
	}
}

//---------------------------------------------------------------------CART----------------------------------------------------------------------//

#cart {
	margin-bottom: 60px;
	.cart {
		padding-top: 40px;
		.product {
			.list-prod {
				padding: 0;
				.row {
					> div {
						margin-bottom: 0;
					}
				}
				.item {
					background-color: transparent;
					color: #000;
					width: 100%;
					padding: 20px 30px;
					border: 1px solid $color-7;
					overflow: hidden;
					margin-bottom: 15px;
					position: relative;
					@include display-flex();
					p {
						font-size: 14px;
						color: $font-color;
					}
					.thumb {
						border: 1px solid $color-7;
						width: 160px;
						min-width: 160px;
						height: 160px;
						display: inline-block;
						position: relative;
						&:after {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							opacity: 0;
							background-color: rgba(#000, 0.1);
							@include transition(all, 0.3, ease);
						}
						&:hover {
							&:after {
								opacity: 1;
							}
						}
					}
					.info {
						padding: 10px 10px 0 20px;
						width: 100%;
						@include display-flex();
						@include flex-direction(column);
						@include justify-content(space-between);
						.name {
							color: $font-color;
							font-size: 26px;
							letter-spacing: 0.5px;
							line-height: 34px;
							margin: 0 0 5px 0;
							max-width: calc(100% - 95px);
						}
						.optional {
							color: $font-color;
							letter-spacing: 0.5px;
							li:not(:last-child) {
								position: relative;
								&:after {
									position: absolute;
									content: ",";
									color: #000;
									bottom: 0;
									right: -5px;
								}
							}
						}
						.foot {
							margin-top: 10px;
							@include display-flex();
							@include justify-content(space-between);
							@include align-items(flex-end);
							.qtt-box {
								@include display-flex();
								@include align-items(center);
								.number {
									border-radius: 25px;
									overflow: hidden;
									@include prefix(
										box-shadow,
										1px 2px 6px 2px rgba(#000, 0.2),
										webkit moz o ms
									);
									.number__field {
										-moz-appearance: textfield;
										display: inline-block;
										vertical-align: top;
										width: 38px;
										height: 40px;
										padding: 8px 3px;
										text-align: center;
										line-height: 26px;
										background: $color-1;
										border: none;
										color: $color-2;
									}
									.number__btn {
										display: inline-block;
										vertical-align: middle;
										position: relative;
										width: 27px;
										height: 40px;
										padding: 0;
										border: none;
										background: $color-1;

										&:before {
											position: absolute;
											display: block;
											left: 0;
											top: 0;
											color: $color-2;
											font-size: 22px;
											font-weight: 700;
											width: 100%;
											height: 100%;
											padding-bottom: 1px;
											@include display-flex();
											@include align-items(center);
											@include justify-content(center);
										}
										&:hover {
											background-color: $color-2;
											&:before {
												color: #fff;
											}
										}
									}
									.number__btn--down::before {
										content: "-";
									}
									.number__btn--up::before {
										content: "+";
									}
									.number__field::-webkit-outer-spin-button,
									.number__field::-webkit-inner-spin-button {
										margin: 0;
										-webkit-appearance: none;
									}
								}
								span {
									display: block;
									letter-spacing: 0.5px;
									padding: 5px 10px;
								}
							}
							.total {
								@include display-flex();
								@include flex-direction(column);
								@include align-items(flex-end);
								@include justify-content(flex-end);
								.subtotal {
									font-size: 16px;
									letter-spacing: 0.5px;
								}
								.price {
									font-size: 24px;
								}
							}
						}
					}
					.buttons {
						position: absolute;
						padding: 0;
						top: 30px;
						right: 30px;
						@include display-flex();
						.btn-default {
							a {
								background-color: transparent;
								border-radius: 100px;
								color: $font-color;
								font-size: 14px;
								padding: 5px 10px;
								text-transform: none;
								i {
									color: $color-2;
									@include transition(all, 0.2, ease);
								}
								span {
									padding-left: 5px;
									font-weight: 900;
								}
								&:hover {
									color: #fff;
									background-color: $color-12;
									i {
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
		.data {
			.row {
				> div {
					margin-bottom: 40px;
				}
			}
			.title {
				padding: 0;
				line-height: 23px;
				margin-bottom: 15px;
				text-transform: none;
				font-size: 18px;
				&.big {
					font-size: 22px;
				}
				strong {
					font-weight: 900;
				}
			}
			.form-layout-cart {
				@include display-flex();
				input,
				button {
					height: 45px;
					padding: 4px 15px 6px 15px;
					border-radius: 0;
				}
				input {
					width: 100%;
					border: 2px solid $color-2;
					border-right: 0;
				}
				button {
					min-width: 148px;
					font-weight: 700;
					letter-spacing: 0.5px;
					border: 0;
					color: $color-2;
					text-transform: uppercase;
					background-color: $color-1;
					@include transition(all, 0.2, ease);
					&:hover {
						background-color: darken($color-1, 15%);
					}
				}
			}
			.delivery-methods {
				padding-top: 10px;
				span {
					display: block;
					color: $font-color;
					line-height: 20px;
					letter-spacing: 0.5px;
					margin-top: 17px;
				}
			}
			table {
				width: 100%;
				margin-bottom: 10px;
				letter-spacing: 0.5px;
				tr {
					border-bottom: 2px solid darken($color-4, 5%);
					&:last-child {
						border: 0;
					}
					td {
						color: rgba($font-color, 0.9);
						padding: 10px 0;
						p {
							font-size: 16px;
							&.installments {
								text-align: right;
								font-weight: 700;
							}
						}
						.billet {
							float: right;
							width: 100px;
							white-space: nowrap;
							p {
								text-align: right;
							}
							@include justify-content(flex-end);
							img {
								margin: 0 0 0 5px;
							}
						}
						span {
							text-align: right;
							display: block;
							font-size: 22px;
							color: $font-color;
							padding: 5px 0;
							&.big {
								font-size: 24px;
								line-height: 20px;
							}
						}
					}
				}
			}
			.btn-default {
				a,
				button {
					color: #fff;
					padding: 20px;
					width: 100%;
				}
			}
			.btn-cart-box {
				padding-top: 9px;
				margin: 0 -6px;
				@include display-flex();
				.btn-cart {
					width: 100%;
					padding: 0 6px;
					text-align: center;
					a {
						width: 100%;
						color: $color-1;
						border: 3px solid $color-1;
						padding: 8px;
						font-size: 16px;
						letter-spacing: 0.5px;
						line-height: 17px;
						display: inline-block;
						font-weight: 700;
						&:hover {
							color: #fff;
							background-color: $color-2;
						}
					}
					&.gray {
						a {
							color: $color-7;
							border-color: $color-7;
							&:hover {
								color: #fff;
								border-color: $color-5;
								background-color: $color-2;
							}
						}
					}
				}
			}
		}
	}
}

@include media-down(md) {
	// Down Tablets
	#cart {
		margin-bottom: 30px;
		.cart {
			.product {
				.list-prod {
					.item {
						.info {
							.name {
								max-width: 90%;
							}
							.foot {
								.qtt-box {
									@include flex-direction(column-reverse);
								}
							}
						}
						.buttons {
							top: 8px;
							right: 5px;
							.btn-default {
								a {
									padding: 0;
									width: 30px;
									height: 30px;
									@include display-flex();
									@include align-items(center);
									@include justify-content(center);
									i {
										margin: 0;
									}
									span {
										display: none;
									}
								}
							}
						}
					}
				}
			}
			.data {
				margin-top: 30px;
			}
		}
	}
}

@include media-only(xs) {
	// Phones
	#cart {
		.cart {
			padding-top: 25px;
			.product {
				.list-prod {
					.item {
						padding: 20px 15px;
						.thumb {
							width: 90px;
							min-width: 90px;
							height: 90px;
							position: absolute;
						}
						.info {
							min-height: 180px;
							padding: 0;
							.box {
								padding-left: 100px;
							}
							.name {
								font-size: 18px;
								line-height: 22px;
								max-width: 100%;
								padding-right: 20px;
							}
							.optional {
								font-size: 14px;
								width: 100%;
							}
							.foot {
								margin-top: 15px;
								.qtt-box {
									min-width: 100px;
									margin-bottom: 2px;
									@include flex-direction(column);
									text-align: left;
									span {
										display: block;
										padding: 10px 0 0 0;
										text-align: center;
										font-size: 12px;
									}
								}
								.total {
									padding-left: 10px;
									.price {
										font-size: 21px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@include media-only(sm) {
	// Large Phones
	#cart {
		.cart {
			.product {
				.list-prod {
					.item {
						@include align-items(center);
						.thumb {
							width: 102px;
							min-width: 102px;
							height: 102px;
						}
						.info {
							.name {
								font-size: 21px;
								line-height: 25px;
							}
							.optional {
								width: 80%;
							}
						}
					}
				}
			}
		}
	}
}

//------------------------------------------------------------------CART PIX-------------------------------------------------------------------//

#cart-pix {
	.pix-header {
		background-color: $color-2;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		padding: 21px 45px;
		&.color-2 {
			background-color: #eaeaea;
			color: #000;
			padding: 21px 35px;
		}
	}
	.infos {
		margin: 35px 0 45px;
		.row {
			border: 1px solid #d8d8d8;
			border-top: none;
			margin: 0;
			padding: 30px 0 40px;
			> div {
				padding: 0 80px;
				&:first-child {
					border-right: 2px solid #d8d8d8;
				}
			}
		}
		.content {
			height: 100%;
			text-align: center;
			@include display-flex();
			@include flex-direction(column);
			@include align-items(center);
			.page {
				font-size: 18px;
			}
			.qr-code {
				margin-top: 15px;
			}
			.copy-to-clipboard {
				border: 2px solid #000;
				color: $color-2;
				font-size: 20px;
				font-weight: bold;
				margin: 15px 0;
				text-align: center;
				padding: 25px;
				width: 100%;
			}
			.btn-default {
				margin-bottom: 10px;
				width: 100%;
				a,
				button {
					font-size: 18px;
					text-transform: none;
					width: 100%;
				}
			}
			.obs {
				display: block;
				font-size: 14px;
				letter-spacing: 0.5px;
				line-height: 23px;
				max-width: 100%;
				width: 275px;
			}
		}
	}
	.resume {
		margin: 45px 0 150px;
		.container {
			> .row {
				border: 1px solid #d8d8d8;
				border-top: none;
				margin: 0;
				padding: 0;
			}
		}
		.list-prod {
			@include display-flex();
			@include flex-direction(column);
			.item {
				background-color: transparent;
				color: #000;
				padding: 30px 0;
				overflow: hidden;
				width: calc(100% - 30px);
				position: relative;
				@include display-flex();
				&:not(:last-child) {
					border-bottom: 2px solid #eaeaea;
				}
				p {
					font-size: 14px;
					color: $font-color;
				}
				.thumb {
					border: 1px solid $color-7;
					width: 160px;
					min-width: 160px;
					height: 160px;
					display: inline-block;
					position: relative;
					&:after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						opacity: 0;
						background-color: rgba(#000, 0.1);
						@include transition(all, 0.3, ease);
					}
					&:hover {
						&:after {
							opacity: 1;
						}
					}
				}
				.info {
					padding: 10px 10px 0 20px;
					width: 100%;
					@include display-flex();
					@include flex-direction(column);
					@include justify-content(space-between);
					.name {
						color: $font-color;
						font-size: 26px;
						letter-spacing: 0.5px;
						line-height: 34px;
						margin: 0 0 5px 0;
						max-width: calc(100% - 95px);
					}
					.optional {
						color: $font-color;
						font-size: 18px;
						letter-spacing: 0.5px;
						line-height: 26px;
					}
				}
				.total {
					@include display-flex();
					@include flex-direction(column);
					@include align-items(flex-end);
					@include justify-content(flex-end);
					.subtotal {
						font-size: 16px;
						letter-spacing: 0.5px;
					}
					.price {
						font-size: 24px;
					}
				}
			}
			.simplebar-vertical {
				width: 7px;
				top: 0px;
				right: 5px;
				bottom: 10px;
				border-radius: 100px;
				background-color: #ddd;
			}
			.simplebar-scrollbar {
				&:before {
					left: 0;
					right: 0;
					opacity: 1;
					background-color: $color-2;
				}
			}
		}
		table {
			width: 100%;
			margin-bottom: 10px;
			letter-spacing: 0.5px;
			tr {
				border-bottom: 2px solid darken($color-4, 5%);
				&:last-child {
					border: 0;
				}
				td {
					color: rgba($font-color, 0.9);
					padding: 40px 0;
					p {
						font-size: 16px;
						&.installments {
							text-align: right;
							font-weight: 700;
						}
					}
					.billet {
						white-space: nowrap;
						p {
							text-align: right;
						}
						@include justify-content(flex-end);
						img {
							margin: 0 0 0 5px;
						}
					}
					span {
						text-align: right;
						display: block;
						font-size: 22px;
						color: $font-color;
						padding: 5px 0;
						&.big {
							font-size: 24px;
							line-height: 20px;
						}
					}
				}
			}
		}
	}
}

@include media-down(md) {
	#cart-pix {
		.infos {
			.row {
				> div {
					padding: 0 30px;
				}
			}
		}
	}
}

@include media-down(sm) {
	#cart-pix {
		.infos {
			.row {
				> div {
					&:first-child {
						border: none;
					}
				}
			}
		}
		.resume {
			.row {
				> div {
					.pix-header {
						margin: 0 -15px;
					}
				}
			}
			.list-prod {
				max-height: 460px;
				margin-bottom: 30px;
			}
			table {
				tr {
					td {
						padding: 25px 0;
					}
				}
			}
		}
	}
}

@include media-only(xs) {
	#cart-pix {
		.resume {
			.list-prod {
				.item {
					padding: 20px 15px;
					.thumb {
						width: 90px;
						min-width: 90px;
						height: 90px;
						position: absolute;
					}
					.info {
						min-height: 180px;
						padding: 0;
						.box {
							padding-left: 100px;
						}
						.name {
							font-size: 18px;
							line-height: 22px;
							max-width: 100%;
							padding-right: 20px;
						}
						.optional {
							font-size: 14px;
							width: 100%;
						}
						.total {
							padding-left: 10px;
							.price {
								font-size: 21px;
							}
						}
					}
				}
			}
		}
	}
}

//------------------------------------------------------------------LIST ITEMS-------------------------------------------------------------------//

.list-items {
	padding-bottom: 100px;
	.head {
		padding: 0 15px;
		margin-bottom: 18px;
		@include display-flex();
		@include justify-content(space-between);
		@include align-items(center);
		.title {
			padding: 0;
			color: $color-8;
		}
		.btns {
			padding-left: 20px;
			.list-order {
				min-width: 65px;
				padding-right: 5px;
				a,
				button {
					font-size: 19px;
					color: $color-8;
					border-radius: 0;
					border: 0;
					padding: 4px;
					background: none;
					&.active {
						color: $color-2;
					}
				}
			}
			.select-custom-box {
				margin-left: 5px;
				width: auto;
				min-width: 125px;
			}
			.order {
				border: 0;
				background-color: transparent;
				margin-left: 10px;
				padding: 0;
				@include display-flex();
				&:hover {
					filter: brightness(110%);
				}
			}
		}
	}
	.row {
		.col {
			margin-bottom: 35px;
		}
	}
	.item {
		width: 100%;
		height: 100%;
		border-bottom: 3px solid $color-2;
		position: relative;
		outline: none;
		&:hover {
			.img-item {
				.see-product {
					bottom: 0;
				}
			}
		}
		.img-item {
			height: 255px;
			overflow: hidden;
			position: relative;
			@include display-flex();
			@include align-items(center);
			@include justify-content(center);
			@include background(cover, center, center, no-repeat, transparent);
			.see-product {
				position: absolute;
				background-color: rgba(#000, 0.6);
				color: #fff;
				letter-spacing: 0.5px;
				line-height: 24px;
				font-size: 18px;
				text-align: center;
				text-transform: uppercase;
				padding: 13px 0;
				left: 0;
				right: 0;
				bottom: -50px;
				@include transition(all, 0.2, ease);
			}
			.new {
				position: absolute;
				background-color: $color-8;
				color: $color-2;
				font-size: 13px;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 1px;
				padding: 5px 15px;
				left: 0;
				top: 10px;
			}
			.discount {
				color: #fff;
				font-size: 16px;
				font-weight: bold;
				letter-spacing: 0.5px;
				padding-top: 8px;
				padding-right: 3px;
				top: 0;
				right: 0;
				z-index: 3;
				position: absolute;
				span {
					display: block;
					font-size: 9px;
					text-align: center;
					text-transform: uppercase;
				}
				&:before {
					position: absolute;
					content: "";
					background-color: $color-2;
					height: 60px;
					width: 100px;
					top: -15px;
					right: -35px;
					z-index: -1;
					@include prefix(transform, rotate(45deg), webkit moz o ms);
				}
			}
		}
		.name {
			display: inline-block;
			color: $color-1;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.5px;
			margin-top: 6px;
			&:hover {
				color: $color-2;
			}
		}
		.subtitle {
			color: $font-color;
			display: block;
			font-size: 12px;
			letter-spacing: 0.5px;
			line-height: 22px;
			width: 100%;
		}
		.price-box {
			margin-top: 10px;
		}
		.old-price {
			font-size: 14px;
			line-height: 14px;
			margin-top: 7px;
			display: block;
			padding-top: 3px;
		}
		.price {
			display: block;
			color: $font-color;
			font-family: $font;
			font-size: 16px;
			letter-spacing: 0.5px;
			width: 100%;
		}
		.installments {
			display: block;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 0.5px;
			margin-bottom: 7px;
			width: 100%;
		}
		&.out-stock {
			padding-bottom: 60px;
			border-bottom: none;
			&:after {
				content: "Sem estoque";
				height: 44px;
				color: #fff;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				text-align: center;
				font-weight: bold;
				letter-spacing: 0.5px;
				text-transform: uppercase;
				background-color: #b8b8b8;
				@include display-flex();
				@include align-items(center);
				@include justify-content(center);
			}
			.img-item,
			.box {
				opacity: 0.4;
			}
			.price-box {
				display: none;
			}
		}
	}
}

@include media-between(xs, md) {
	// Phones, Large Phones and Tablets
	.list-items {
		padding-bottom: 0;
		.head {
			margin-top: 15px;
		}

		.item {
			.img-item {
				height: 115px;

				.new {
					font-size: 7px;
				}

				.discount {
					font-size: 8px;

					&::before {
						width: 75px;
						top: -25px;
					}

					span {
						font-size: 4px;
					}
				}

				.see-product {
					font-size: 11px;
				}
			}

			.price-box {
				margin-top: 2px;
			}

			.installments {
				font-size: 11px;
				margin-top: 2px;
			}

			&.out-stock {
				&::after {
					font-size: 11px;
				}
			}
		}
	}
}

@include media-only(sm) {
	// Large Phones
	.list-items {
		.line-list {
			.item {
				.btn-budget {
					a,
					button {
						width: 100%;
					}
				}
			}
		}
	}
}

@include media-between(md, lg) {
	// Tablets and Desktops
	.list-items {
		.item {
			.img-item {
				height: 200px;
			}
		}
	}
}

@include media-up(sm) {
	// Up Large Phones
	.list-items {
		.line-list {
			.item {
				@include display-flex();
				@include align-items(center);
				.img-item {
					width: 190px;
					min-width: 190px;
					height: 190px;
					margin-bottom: -3px;
				}
				.box {
					width: 100%;
					padding-left: 30px;
				}
			}
		}
	}
}

//--------------------------------------------------------------------CONTACT--------------------------------------------------------------------//

#contact {
	overflow: hidden;
	position: relative;
	.content {
		padding-bottom: 230px;
		.title {
			color: $color-2;
			padding-bottom: 10px;
			&:before {
				display: none;
			}
		}
		.page {
			margin-bottom: 15px;
			max-width: 400px;
		}
		.select-custom-box {
			width: 350px;
			padding: 0;
			&:after {
				left: auto;
				right: 0px;
			}
			.select-label {
				text-align: left;
				padding: 5px 35px 5px 15px;
			}
		}
		.address {
			background-color: $color-4;
			margin-top: 30px;
			position: relative;
			&:before {
				position: absolute;
				content: "";
				background-color: $color-4;
				top: 0;
				bottom: 0;
				right: 100%;
				left: -30px;
			}
			&--name {
				color: $font-color;
				font-size: 22px;
				font-weight: bold;
				letter-spacing: 0.5px;
				line-height: 27px;
				margin: 15px 0 10px;
				text-transform: uppercase;
			}
			.item {
				border: 1px solid $color-4;
				margin: -1px 0;
				outline: none;
			}
			p,
			a {
				position: relative;
				line-height: 21px;
				padding-left: 22px;
				color: $color-1;
				display: table;
				margin-bottom: 10px;
				i {
					position: absolute;
					left: 0;
					top: 1px;
					font-size: 18px;
					color: $color-1;
				}
			}
			a:hover {
				text-decoration: underline;
			}
			.btn-default {
				a {
					width: 200px;
					font-size: 14px;
					font-weight: bold;
					text-transform: none;
					text-align: center;
					padding: 8px 20px 7px 30px;
					border: 1px solid $font-color;
					background-color: transparent;
					i {
						top: 0;
						bottom: 0;
						left: 11px;
						@include display-flex();
						@include align-items(center);
					}
					&:hover {
						background-color: $color-1;
						color: #fff;
						i {
							color: #fff;
						}
					}
				}
				&:last-child {
					margin-bottom: 40px;
				}
			}
			.map {
				height: 100%;
				width: 100%;
				iframe {
					height: 100%;
				}
			}
			.slider-buttons {
				position: absolute;
				top: 25px;
				left: calc(50% - 40px);
				width: 45px;
				button {
					border: none;
					background-color: transparent;
					padding: 0 5px;
					&:hover {
						color: $color-2;
					}
				}
			}
		}
		.contact-form {
			padding-top: 33px;
			.btn-social {
				margin-bottom: 25px;
				a,
				button {
					width: 370px;
					font-weight: bold;
					i:after {
						opacity: 1;
						top: -3px;
						bottom: -3px;
						background-color: #fff;
					}
				}
			}
			.title {
				color: $font-color;
			}
			.form-layout {
				margin-top: 5px;
				.form-group {
					button {
						min-width: 100px;
						padding: 22.5px 15px;
					}
				}
			}
		}
	}
}

@include media-only(lg) {
	#contact {
		.content {
			.contact-form {
				.form-layout {
					.form-group {
						button,
						.recaptcha {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@include media-down(md) {
	// Down Tablets
	#contact {
		.content {
			padding-bottom: 50px;
			.address {
				width: calc(100% + 45px);
				&:before {
					left: -45px;
				}
			}
		}
	}
}

@include media-down(sm) {
	#contact {
		.content {
			.title {
				padding-top: 30px;
			}
		}
	}
}

@include media-only(xs) {
	#contact {
		.content {
			.address {
				left: -15px;
				width: calc(100% + 30px);
				&--name,
				address,
				.btn-default {
					padding-left: 15px;
				}
				.map {
					height: 250px;
				}
				.slider-buttons {
					top: 19px;
					left: auto;
					right: 26px;
				}
			}
		}
	}
}

//---------------------------------------------------------------PRODUCT SINGLE------------------------------------------------------------------//

#product {
	.product-head {
		padding: 10px 0 60px 0;
		.slider-product {
			> .row {
				margin: 0 -10.5px;
				> div {
					padding: 0 10.5px;
				}
			}
			.slider-product-img {
				.item {
					vertical-align: middle;
					display: table-cell;
					outline: none;
					position: relative;
					overflow: hidden;
					height: 425px;
					z-index: 0 !important;
					background: none;
					border: 0;
				}
				.slick-arrow {
					width: 30px;
					&.slick-prev {
						left: -35px;
						&:before {
							content: "\f104";
						}
					}
					&.slick-next {
						top: 50%;
						right: -35px;
						&:before {
							content: "\f105";
						}
					}
				}
			}
			.slider-product-thumb {
				display: block;
				position: relative;
				margin-top: -1px;
				.item {
					width: 100%;
					height: 68px;
					outline: none;
					position: relative;
					text-align: center;
					cursor: pointer;
					overflow: hidden;
					margin: 0 1px 22px 1px;
					border: 2px solid transparent;
					@include transition(opacity, 0.2, ease);
					img {
						width: calc(100% + 1px);
						max-width: 101%;
					}
					&:hover {
						opacity: 0.8;
					}
				}
				.slick-list {
					overflow: hidden;
				}
				.slick-current {
					border-color: $color-2;
				}
				.slick-arrow {
					width: 100%;
					height: 20px;
					z-index: 10;
					&.slick-prev,
					&.slick-next {
						left: 0;
						&:before {
							font-size: 19px;
							color: rgba($color-1, 0.7);
						}
					}
					&.slick-prev {
						top: -14px;
						&:before {
							content: "\f106";
						}
					}
					&.slick-next {
						top: auto;
						bottom: -14px;
						&:before {
							content: "\f107";
						}
					}
					&:hover {
						&:before {
							color: $color-2;
						}
					}
				}
			}
			.slick-dots {
				bottom: 0;
				text-align: center;
			}
		}
		.info {
			letter-spacing: 0.5px;
			.prod-name {
				font-size: 26px;
				line-height: 30px;
				margin-bottom: 1px;
			}
			.sub-title {
				display: block;
				margin-bottom: 4px;
			}
			.rating {
				margin-bottom: 15px;
			}
			.old-price {
				display: block;
				font-size: 14px;
				line-height: 14px;
				color: #707070;
			}
			.price {
				font-size: 24px;
				line-height: 30px;
			}
			.installments {
				font-weight: 900;
				margin-top: 2px;
			}
			#btn-installments {
				font-size: 16px;
				font-weight: normal;
				margin: 2px 0 0 -9px;
				background-color: $color-2;
				&:before {
					font-weight: 900;
					@include transition(transform, 0.35, ease);
				}
				&.collapsed {
					color: rgba($font-color, 0.7);
					background-color: transparent;
					&:hover {
						color: #fff;
						background-color: $color-2;
					}
				}
			}
			#installment {
				margin-top: 10px;
				i {
					color: $color-2;
				}
			}
			hr {
				border: 0;
				height: 2px;
				margin: 7px 0;
				background-color: #c9c9c9;
				&.color-2 {
					background-color: $color-2;
				}
			}
			.tit {
				margin: 10px 0 8px 0;
				font-weight: 900;
				letter-spacing: 0.5px;
				span {
					color: #f12121;
					font-weight: normal;
				}
			}
			.box-check {
				margin-bottom: 15px;
			}
			.colors {
				.tit {
					margin-bottom: 4px;
				}
				.check-radio-box,
				.cor-txt {
					max-width: 100%;
				}
				.check-radio-box {
					.item-check {
						position: relative;
						display: inline-block;
						margin: 0 7px 10px 7px;
						label {
							color: $color-1;
							width: 23px;
							height: 23px;
							border: 1px solid #707070;
							border-radius: 50%;
							font-size: 0;
							line-height: 0;
							position: relative;
							background-color: #d1d1d1;
							@include display-flex();
							@include align-items(center);
							@include justify-content(center);
							@include transition(all, 0.2, ease);
						}
						.check-radio {
							&:not(:checked),
							&:checked {
								position: absolute;
								left: 0;
								bottom: 0;
								opacity: 0;
								& + label {
									position: relative;
									cursor: pointer;
									&:before {
										content: "";
										position: absolute;
										top: -6px;
										left: -6px;
										right: -6px;
										bottom: -6px;
										border: 1px solid #707070;
										opacity: 0;
										border-radius: 50%;
										@include transition(all, 0.2, ease);
									}
								}
							}
							&:checked {
								& + label {
									&:before {
										opacity: 1;
									}
								}
							}
						}
						&.outstock {
							.check-radio {
								&:not(:checked),
								&:checked {
									& + label {
										cursor: not-allowed;
										&:before {
											display: none;
										}
										&:after {
											content: "x";
											width: 15px;
											height: 15px;
											position: absolute;
											top: -5px;
											right: -5px;
											color: #fff;
											font-size: 11px;
											line-height: 11px;
											border-radius: 50%;
											padding-left: 1px;
											padding-bottom: 2px;
											background-color: #ef1c1c;
											@include display-flex();
											@include align-items(center);
											@include justify-content(center);
										}
									}
								}
							}
						}
					}
				}
				.color-txt {
					letter-spacing: 1px;
					color: $color-8;
					padding: 0 9px;
				}
			}
			.sizes {
				//   min-width: 135px;
				//         color: $color-2;
				//         font-size: 18px;
				//         border: 0;
				//         padding-top: 2px;
				//         background-color: $color-1;
				//         &:hover {
				//             color: #fff;
				//             background-color: $color-2;
				margin-bottom: 0;
				.check-radio-box {
					.item-check {
						position: relative;
						display: inline-block;
						margin: 0 13px 8px 0;
						&:first-child {
							margin-left: 0;
						}
						label {
							color: #707070;
							min-width: 45px;
							height: 28px;
							font-size: 14px;
							line-height: 14px;
							position: relative;
							overflow: hidden;
							padding: 3px;
							border: 1px solid #707070;
							@include display-flex();
							@include align-items(center);
							@include justify-content(center);
							@include transition(all, 0.2, ease);
						}
						.check-radio {
							&:not(:checked),
							&:checked {
								position: absolute;
								left: 0;
								bottom: 0;
								opacity: 0;
								& + label {
									position: relative;
									cursor: pointer;
									&:before {
										content: "";
										position: absolute;
										top: 0;
										left: 0;
										right: 0;
										bottom: 0;
										opacity: 0;
										z-index: -1;
										background-color: $color-2;
										color: #fff;
										@include transition(all, 0.2, ease);
									}
								}
							}
							&:checked {
								& + label {
									background-color: #000;
									border-color: $color-1;
									color: $color-2;
									&:before,
									&:after {
										opacity: 1;
									}
								}
							}
						}
					}
				}
			}
			.delivery-date {
				.box {
					width: 415px;
					max-width: 100%;

					@include display-flex();
					input,
					button {
						height: 39px;
					}
					input {
						width: 100%;
						padding: 0 16px;
						border: 1px solid $color-1;
						margin-right: 10px;
						border-radius: 0;
					}
					button {
						min-width: 135px;
						color: $color-2;
						font-size: 18px;
						border: 0;
						padding-top: 2px;
						background-color: $color-1;
						&:hover {
							color: #fff;
							background-color: $color-2;
						}
					}
				}
			}
			.btn-box {
				margin-top: 14px;
				@include display-flex();
				.btn-default {
					width: 100%;
					&:first-child {
						margin-right: 15px;
					}
					a,
					button {
						width: 100%;
						padding: 20px 15px 18px 15px;
					}
					&.btn-border {
						a,
						button {
							padding: 19px 15px 17px 15px;
						}
					}
				}
			}
			.btn-wishlist {
				text-align: center;
				margin-top: 12px;
				a {
					color: #9a9a9a;
					letter-spacing: 0;
					span {
						@include transition(all, 0.2, ease);
					}
					i {
						font-size: 14px;
						margin-right: 5px;
						@include transition(all, 0.2, ease);
					}
					&:hover {
						span {
							color: $color-1;
						}
						i {
							color: #ef1c1c;
						}
					}
				}
			}
		}
	}
	#comente {
		background-color: $color-14;
		padding-top: 50px;
		padding-bottom: 40px;
	}
	.title {
		color: $font-color;
		text-transform: uppercase;
	}
	.description {
		.content {
			background-color: $color-4;
			padding: 33px 0 54px 0;
			background-color: #eeeeee;

			// .nav-tabs {
			//     border: 0;
			//     margin-bottom: 21px;
			//     row-gap: 5px;
			//     border-color: $color-2;
			//     color: $color-2;

			//     .nav-link {
			//         border-color: $color-2;
			//         color: $color-2;
			//         font-weight: bold;
			//         width: 50%;

			//         &:hover {
			//             border-color: $color-2;
			//             background-color: $color-2;
			//             color: white;
			//         }

			//         &.active {
			//             border-color: $color-1;
			//             background-color: $color-1;
			//             color: white;
			//         }
			//     }
			// }

			// .nav-pills {
			//     .nav-link {
			//         border-radius: 0;
			//     }
			// }

			.tab-content {
				font-size: 16px;
				line-height: 28px;
				color: rgba($font-color, 0.7);

				h1 {
					font-size: 25px;
					color: $color-1;
					font-family: sans-serif;
				}
			}
		}
	}
	.comments {
		padding-top: 50px;
		margin-bottom: 50px;
		.title {
			margin-bottom: 5px;
		}
		h4 {
			color: $color-15;
		}
		.item {
			padding: 40px 40px 60px 40px;
			border: 1px solid $color-1;
			letter-spacing: 0.5px;
			margin-bottom: 25px;
			.tit {
				font-size: 24px;
				margin-bottom: 2px;
			}
			.name {
				margin-bottom: 7px;
			}
			.rating {
				margin-bottom: 20px;
			}
			.page {
				max-width: 100%;
				color: rgba($font-color, 0.7);
			}
		}
		form {
			overflow: hidden;
			text-align: right;
			.form-group {
				margin-bottom: 20px;
				input[type="text"],
				textarea {
					width: 100%;
					resize: none;
					outline: none;
					border-radius: 0;
					border: 1px solid $color-5;
					background: transparent;
					padding: 20px;
				}
				textarea {
					height: 245px;
				}
				span {
					display: inline-block;
					vertical-align: middle;
				}
				.btn-default {
					display: inline-block;
					vertical-align: middle;
					a,
					button {
						width: 277px;
						font-size: 18px;
						font-weight: 800;
						padding: 20px 20px 17px 20px;
					}
				}
			}
			.star-cb-group {
				display: inline-block;
				vertical-align: middle;
				font-size: 0;
				direction: rtl;
				unicode-bidi: bidi-override;
				margin: 10px 20px 10px 0;
				* {
					font-size: 15px;
				}
				& > input {
					width: 1px;
					opacity: 0;
					& + label {
						display: inline-block;
						overflow: hidden;
						text-indent: 9999px;
						width: 22px;
						white-space: nowrap;
						cursor: pointer;
						&:before {
							display: inline-block;
							text-indent: -9999px;
							content: "\f005";
							font-weight: 900;
							color: #d9d9d9;
							font-family: $icon;
						}
					}
					&:checked ~ label:before,
					& + label:hover ~ label:before,
					& + label:hover:before {
						content: "\f005";
						color: $color-2;
					}
				}
				&:hover > input + label:before {
					color: #d9d9d9;
				}
				&:hover > input + label:hover ~ label:before,
				&:hover > input + label:hover:before {
					color: $color-2;
				}
			}
		}
	}
	.related-products {
		margin: -30px 0 90px 0;
		padding-bottom: 0;
		background-color: $color-1;
		color: #fff;
		.list-items {
			color: #fff;
		}
		.title {
			padding-bottom: 25px;
			color: $color-2;
		}
		.name {
			color: #fff;
		}
		.subtitle {
			color: $color-2;
		}
		.price {
			color: $color-2;
		}
	}
}

.zoomContainer {
	overflow: hidden;
	border: 1px solid transparent;
	&:hover {
		border-color: $color-7;
	}
	.zoomWindow {
		background: #fff;
	}
}

@include media-down(lg) {
	// Phones, Large Phones, Tablets and Desktops
	#product {
		.product-head {
			padding: 0 0 50px 0;
			.slider-product {
				.slider-product-thumb {
					margin: 13px -5px 0 -5px;
					.item {
						margin: 0 3px;
					}
					.slick-arrow {
						width: 20px;
						height: 100%;
						&.slick-prev {
							top: 50%;
							left: -19px;
							&:before {
								content: "\f104";
							}
						}
						&.slick-next {
							top: 50%;
							bottom: auto;
							left: auto;
							right: -19px;
							&:before {
								content: "\f105";
							}
						}
					}
				}
			}
		}
	}
}

@include media-between(xs, sm) {
	// Phones and Large Phones
	#product {
		.product-head {
			.slider-product {
				.slider-product-thumb {
					margin-bottom: 20px;
				}
				.slider-product-img {
					margin-bottom: 10px;
				}
			}
		}
		.description {
			.content {
				padding: 20px 0 40px 0;
			}
		}
		.comments {
			padding-top: 20px;
		}
		.related-products {
			margin: 25px 0 40px 0;
		}
	}
}

@include media-only(xs) {
	// Phones
	#product {
		.container {
			padding: 0 25px;
		}
		.product-head {
			.slider-product {
				.slider-product-img {
					.item {
						height: 200px;
					}
				}
				.slider-product-thumb {
					margin-top: 0;
					.item {
						height: 70px;
					}
				}
			}
			.info {
				.delivery-date {
					.box {
						button {
							min-width: 120px;
						}
					}
				}
				.btn-box {
					display: block;
					.big {
						margin-bottom: 10px;
					}
				}
			}
		}
		.comments {
			.item {
				padding: 23px 25px;
				.tit {
					font-size: 22px;
				}
			}
			form {
				.star-cb-group {
					* {
						font-size: 22px;
					}
					& > input {
						& + label {
							width: 32px;
						}
					}
				}
				.form-group {
					.btn-default {
						width: 100%;
						margin-top: 10px;
						a,
						button {
							width: 100%;
						}
					}
				}
			}
		}
		.related-products {
			margin-bottom: 20px;
			.title.small {
				font-size: 18px;
			}
		}
	}
}

@include media-only(sm) {
	// Large Phones
	#product {
		.product-head {
			.info {
				.btn-box {
					.btn-default {
						&.big {
							max-width: 220px;
						}
					}
				}
			}
			.slider-product {
				.slider-product-thumb {
					margin-top: 0;
					.item {
						height: 95px;
					}
				}
			}
		}
	}
}

@include media-only(md) {
	// Tablets
	#product {
		.product-head {
			.slider-product {
				.slider-product-img {
					.item {
						height: 330px;
					}
				}
			}
			.info {
				.btn-box {
					display: block;
					.big {
						margin-bottom: 10px;
					}
				}
			}
		}
		.related-products {
			.row {
				> div:last-child {
					display: none;
				}
			}
		}
	}
}

@include media-only(lg) {
	// Desktops
	#product {
		.product-head {
			.info {
				.btn-box {
					.btn-default {
						&.big {
							max-width: 175px;
						}
					}
				}
			}
		}
	}
}

//---------------------------------------------------------------------HOME--------------------------------------------------------------------//

#home {
	padding-bottom: -20px;
	.title {
		padding: 0;
		font-weight: normal;
		margin: 30px 0 25px 0;
		color: #25b159;
	}
	.banner {
		width: 102%;
		height: 520px;
		margin-left: -1%;
		overflow: hidden;
		.slick-track,
		.slick-list {
			height: 100%;
		}
		.item {
			top: -1px;
			height: calc(100% + 1px);
			position: relative;
		}
		&.banner-home {
			.slick-arrow {
				&.slick-prev,
				&.slick-next {
					width: 10%;
					&:before {
						color: #fff;
					}
					&:hover {
						&:before {
							opacity: 0.5;
						}
					}
				}
				&.slick-prev {
					left: 0;
				}
				&.slick-next {
					right: 0;
				}
			}
		}
	}
	.stripe {
		width: 100%;
		padding: 25px 0;
		margin-bottom: 30px;
		display: inline-block;
		background-color: $color-2;
		.slider-stripe {
			.item {
				outline: none;
				padding: 0 15px;
				@include display-flex();
				@include align-items(center);
				@include justify-content(center);
				&--img {
					width: 60px;
					height: 60px;
					min-width: 60px;
					@include display-flex();
					@include align-items(center);
					@include justify-content(center);
					img {
						max-height: 56px;
					}
					i {
						font-size: 50px;
						color: $color-2;
					}
				}
				&--desc {
					width: 110px;
					max-width: 100%;
					padding-left: 15px;
					line-height: 20px;
				}
			}
		}
	}
	.mini-banners {
		margin: 10px 0 50px 0;
		.banner {
			height: 320px;
			overflow: visible;
			.item {
				margin: 0 7px;
				img:hover {
					opacity: 0.9;
				}
			}
			.slick-arrow {
				&.slick-prev,
				&.slick-next {
					&:before {
						color: $color-7;
					}
					&:hover {
						&:before {
							color: $color-2;
						}
					}
				}
				&.slick-prev {
					left: -40px;
				}
				&.slick-next {
					right: -40px;
				}
			}
		}
	}
	.list-items {
		padding: 0;
	}
	.categories {
		width: 100%;
		margin: 40px 0 0px 0;
		display: inline-block;
		padding: 40px 0 60px 0;
		background-color: $color-14;
		.title {
			color: $color-8;
			margin: 0 0 35px 0;
		}
		.slider-categories {
			width: 1010px;
			max-width: 100%;
			margin: auto;
			.slick-track {
				@include display-flex();
			}
			.item {
				outline: none;
				padding: 0 15px;
				text-align: center;
				display: inline-block;
				a {
					color: $color-8;
					font-size: 18px;
					display: inline-block;
					.thumb {
						width: 95px;
						height: 95px;
						margin: auto;
						padding: 60px;
						border-radius: 50%;
						background-color: $color-2;
						@include display-flex();
						@include align-items(center);
						@include justify-content(center);
						@include transition(all, 0.2, ease);
						img {
							display: block;
							max-width: 50px;
							max-height: 50px;
						}
					}
					p {
						margin-top: 17px;
						@include transition(all, 0.2, ease);
					}
					&:hover {
						.thumb {
							background-color: $color-2;
						}
						p {
							color: $color-3;
						}
					}
				}
			}
			.slick-list {
				overflow: hidden;
				background: none;
				.slick-track {
					margin: auto;
					@include display-flex();
				}
			}
			.slick-arrow {
				height: 140px;
				top: 50px;
			}
		}
	}
}
.newsletter {
	background-color: $color-1;
	padding: 50px;
	margin-bottom: 71px;
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		

		h1 {
			padding: 0px 0px 7px;
			color: $color-2;
			font-size: 35px;
		}
		p {
			padding: 5px 0px 10px;
			color: #fff;
			font-size: 20px;
		}
		input {
			
			background-color: #2c2c2c;
			color: #fff;
			border-color: white;
			padding-bottom: 6px;
			margin-right: 20px;
			padding-top: 3px;
		}
		button {
			background-color: $color-2;
			height: 35px;
			width: 30%;
			border-radius: 0px;
		}
	}
}

#instagram {
	background-color: $color-1;
	padding-bottom: 23px;
	padding-top: 7px;

	h1 {
		color: $color-2;
		font-size: 25px;
	}

	#vermais {
		display: flex;
		justify-content: space-between;
		color: white;
		padding-bottom: 10px;
		gap: 5px;
		i,
		span {
			color: white;
			padding-top: 5px;
		}
	}
}

#footerbanner {
	padding-bottom: 56px;
	margin-top: 44px;
}

@include media-between(xs, sm) {
	// Phones and Large Phones
	 .newsletter {
	   .container {
		    input {
			width: 49vw !important;
			}
			button {
			width: 177px;
			margin-top: 11px;
			}
	}}
	#home {
		padding-bottom: 60px;
		.banner {
			height: 475px;
			&.banner-home {
				.slick-arrow {
					&.slick-prev,
					&.slick-next {
						width: 40px;
					}
				}
			}
		}
		.stripe {
			margin-bottom: 10px;
		}
		.categories {
			margin: 20px 0 10px 0;
		}
	}
}

@include media-only(xs) {
	// Phones
	 .newsletter {
	   .container {
		    input {
			width: 49vw !important;
			}
			button {
			width: 177px;
			margin-top: 11px;
			}
	}}
	#home {
		.container {
			padding: 0 20px;
		}
		.mini-banners {
			margin: 20px 0 40px 0;
			.banner {
				height: 260px;
				.slick-arrow {
					&.slick-prev {
						left: -22px;
					}
					&.slick-next {
						right: -22px;
					}
				}
			}
		}
		.stripe,
		.categories {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

@include media-between(xs, sm) { // Phones and Large Phones
   .newsletter {
	   .container {
		    input {
			width: 49vw !important;
			}
			button {
			width: 150px;
			
			}
	}
	   #new {
		   width: 103% !important;
	   }
   }     
}

@include media-only(sm) {
	// Large Phones
	.newsletter {
	    #email {
		width: 18vw !important;
		}
		.container {
			button {
			width: 177px;
			
		}
	}
}
	#home {
		.mini-banners {
			.banner {
				height: 217px;
			}
		}
		.list-items {
			.item {
				.img-item {
					height: 240px;
				}
			}
		}
	}
	 
	    #email {
		width: 18vw !important;
		}
		
	}


@include media-between(md, lg) {
	// Tablets and Desktops
	#home {
		.list-items {
			.item {
				.img-item {
					height: 210px;
				}
			}
		}
	}
	 .newsletter {
	    #email {
		width: 18vw !important;
		padding-bottom: 9px;
		}
		.container {
			button {
			width: 150px;
		
		}
	}
	#new {
		width: 53.66%;
	}
}
}

@include media-only(md) {
	// Tablets
	.newsletter {
	    #email {
		width: 18vw !important;
		}
		.container {
			button {
			width: 150px;
			
		}
	}
}

	#home {
		padding-bottom: 50px;
		.banner {
			height: 270px;
		}
		.mini-banners {
			.banner {
				height: 297px;
			}
		}
		.list-items {
			.row {
				.col {
					&:last-child {
						display: none;
					}
				}
			}
		}
		.categories {
			margin-top: 40px;
		}
	}
}

@include media-only(lg) {
	// Desktops
	#home {
		.banner {
			height: 340px;
		}
		.mini-banners {
			.banner {
				height: 266px;
			}
		}
	}
}

@include media-only(xl) {
	// Large Desktops
	#home {
		.categories {
			.slider-categories {
				.slick-arrow {
					&.slick-prev {
						left: -60px;
					}
					&.slick-next {
						right: -60px;
					}
				}
			}
		}
	}
}

//-------------------------------------------------LOGIN / FORGOT PASSWORD / RECOVERY PASSWORD-------------------------------------------------//

.login-layout {
	padding: 75px 0;
	.container {
		width: 800px;
		max-width: 90%;
		&-small {
			width: 530px;
		}
	}
	.box {
		padding: 15px 100px;
		position: relative;
		z-index: 2;
		@include prefix(box-shadow, 4px 4px 6px rgba(#000, 0.15), webkit moz o ms);
		.title {
			text-transform: none;
		}
		hr {
			width: 85px;
			height: 2px;
			border: 0;
			margin: 18px auto 30px;
			display: block;
			background-color: $color-8;
		}
		.page {
			color: rgba($font-color, 0.7);
		}
		.form-layout {
			margin-top: 30px;
			.form-group {
				&.form-buttons {
					width: 480px;
					max-width: 100%;
					margin: 0 auto 20px;
				}
				input {
					height: 43px;
					border-color: $color-8;
				}
				span {
					font-size: 14px;
					display: block;
				}
				.link {
					color: $color-2;
					margin: 6px 0;
					display: inline-block;
					&:hover {
						text-decoration: underline;
					}
				}
				button {
					min-width: 170px;
					margin-bottom: 5px;
				}
			}
		}
	}
	.social-buttons {
		margin-top: 25px;
		.btn-social {
			margin-bottom: 7px;
			a {
				margin: auto;
			}
		}
	}
	.recovery-success {
		width: 370px;
		margin: auto;
		padding: 21px;
		max-width: 100%;
		text-align: center;
		background-color: #38c366;
		.title {
			color: #fff;
			padding-top: 10px;
			text-transform: none;
		}
		.btn-default {
			a,
			button {
				color: #fff;
				border-color: #fff;
				i {
					margin-right: 5px;
				}
				&:hover {
					border-color: darken(#38c366, 15%);
					background-color: darken(#38c366, 15%);
				}
			}
		}
	}
}

#login {
	.box {
		padding: 15px 60px;
		.form-layout {
			margin-top: 30px;
			.form-group {
				button {
					width: 100%;
				}
			}
		}
	}
}

#recovery-password {
	.box {
		.form-layout {
			.form-group {
				&.form-buttons {
					width: 525px;
				}
				button {
					min-width: 220px;
				}
			}
		}
	}
}

@include media-only(xs) {
	// Phones
	.login-layout {
		padding-top: 30px;
		.container {
			max-width: 100%;
			.box {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
	#login {
		.box {
			padding-left: 28px;
			padding-right: 28px;
		}
	}
}

@include media-between(sm, md) {
	// Large Phones and Tablets
	.login-layout {
		.container:not(.container-small) {
			width: 600px;
		}
		.box {
			padding-left: 60px;
			padding-right: 60px;
			.form-layout {
				.form-group {
					.recaptcha {
						width: auto;
					}
					button {
						min-width: 140px;
					}
				}
			}
		}
	}
	#recovery-password {
		.box {
			.form-layout {
				.form-group {
					.recaptcha,
					button {
						width: 100%;
					}
				}
			}
		}
	}
}

@include media-only(sm) {
	// Large Phones
	.login-layout {
		.box {
			.form-layout {
				.form-group {
					.recaptcha {
						width: 100%;
					}
					button {
						width: 100%;
						min-width: auto;
					}
				}
			}
		}
	}
}
