#btn-installments {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #005eab;
  display: inline-block;
  border: none;
  overflow: hidden;
  outline: none;
  text-align: left;
  padding: 5px 10px;
  margin: 10px 0;
  width: 125px;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#btn-installments:hover {
  background-color: #004278;
}

#btn-installments:before {
  position: absolute;
  content: '\f107';
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  top: 5px;
  right: 8px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

#btn-installments:not(.collapsed):before {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

#installments #installment {
  color: #000;
  border: 2px solid #dbdbdb;
  border-bottom-width: 1px;
  padding: 8px 15px;
  margin: 0;
}

#installments #installment i {
  color: #005eab;
  margin-right: 5px;
}

#installments #values {
  -webkit-column-gap: 0;
          column-gap: 0;
  padding: 0 0 20px;
  margin: 0;
  list-style: none;
}

#installments #values li {
  width: 100%;
  min-height: 38px;
  font-size: 14px;
  padding: 3px 15px;
  border: 1px solid #dbdbdb;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#installments #values .interest-free {
  font-weight: bold;
  padding-left: 4px;
  margin-top: -1px;
}

#installments.columns-2 {
  border-width: 2px 1px 1px 2px;
}

#installments.columns-2 #values {
  -webkit-column-count: 2;
          column-count: 2;
}

#installments.columns-2 #values li:nth-child(odd) {
  margin: -1px 0;
}

#installments.columns-2 #values li:first-child {
  margin: 0 0 -1px;
}
/*# sourceMappingURL=installments.css.map */