//---------------------------------------------------------------------MIXINS / MEDIAS / VARIAVEIS ---------------------------------------------------------------------//

@import '../../../css/mixins'; // Import mixins
@import '../../../css/medias'; // Import @medias
@import '../../../css/variables'; // Import variaveis/fontes

#btn-installments {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: $cor-2;
    display: inline-block;
    border: none;
    overflow: hidden;
    outline: none;
    text-align: left;
    padding: 5px 10px;
    margin: 10px 0;
    width: 125px;
    position: relative;
    @include transition(all, 0.2, ease);
    &:hover {
        background-color: darken($cor-2, 10%);
    }
    &:before {
        position: absolute;
        content: '\f107';
        font-family: $icon;
        font-size: 16px;
        top: 5px;
        right: 8px;
        @include transition(all, 0.35, ease);
    }
    &:not(.collapsed) {
        &:before {
            transform: rotateX(180deg);
        }
    }
}

#installments {
    #installment {
        color: #000;
        border: 2px solid #dbdbdb;
        border-bottom-width: 1px;
        padding: 8px 15px;
        margin: 0;
        i {
            color: $cor-2;
            margin-right: 5px;
        }
    }
    #values {
        column-gap: 0;
        padding: 0 0 20px;
        margin: 0;
        list-style: none;
        li {
            width: 100%;
            min-height: 38px;
            font-size: 14px;
            padding: 3px 15px;
            border: 1px solid #dbdbdb;
            display: -webkit-inline-box;
            display: -moz-inline-box;
            display: -ms-inline-flexbox;
            display: -webkit-inline-flex;
            display: inline-flex;
            @include align-items(center);
        }
        .interest-free {
            font-weight: bold;
            padding-left: 4px;
            margin-top: -1px;
        }
    }
    &.columns-2 {
        border-width: 2px 1px 1px 2px;
        #values {
            column-count: 2;
            li {
                &:nth-child(odd) {
                    margin: -1px 0;
                }
                &:first-child {
                    margin: 0 0 -1px;
                }
            }
        }
    }
}